<div>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <option>Repository</option>

      <option>Pull Requests</option>

      <option>Workflows</option>

    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">

      <% selected_css = 'border-indigo-500 text-indigo-600 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm' %>
      <% normal_css = 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm' %>

        <%= link_to "Repository", team_app_git_hub_repository_path(@team, @app, @app.github_repo_slug), class: controller_name.include?('repositories') ? selected_css : normal_css %>

        <%= link_to team_app_git_hub_repository_pull_requests_path(@team, @app, @app.github_repo_slug), class: controller_name.include?('pull_requests') ? selected_css : normal_css do %>
            Pull Requests
            <span class="bg-gray-100 text-gray-900 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">52</span>
        <% end %>

        <%= link_to 'Workflows', team_app_git_hub_repository_workflows_path(@team, @app, @app.github_repo_slug), class: controller_name.include?('workflow') ? selected_css : normal_css %>

      </nav>
    </div>
  </div>
</div>
