---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/codeql.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"523d7b5192a7e43e9d964ad6bfe93164ab367d842151359bbbd441a85308d5e9"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4246'
      X-Ratelimit-Reset:
      - '1645817740'
      X-Ratelimit-Used:
      - '754'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T22:05:58.000-07:00","updated_at":"2022-02-24T00:23:42.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/codeql.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/CodeQL/badge.svg"}'
  recorded_at: Fri, 25 Feb 2022 19:26:29 GMT
recorded_with: VCR 6.0.0
