---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ba90f5b71734aec0dbf764814cfc4b1cb5183c0f3869a1b08b6959039db3857"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4822'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '178'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-02-25T15:54:07Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2295,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":11,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":11,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":7}'
  recorded_at: Fri, 25 Feb 2022 16:16:34 GMT
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/1573/signedlogcontent?urlExpires=2022-02-25T16%3A17%3A35.2275067Z&urlSigningMethod=HMACV1&urlSignature=tYoLixPo7rBDnADg4MpTx3PrtnnZtpFWPxgW3siSIjE%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4821'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '179'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 Feb 2022 16:16:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae0fb6eb9adfd96c7fdba4f784ab5159c79d19c361910aa1e531171d36448891"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4820'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '180'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":1899531039,"name":"CodeQL","node_id":"WFR_kwLOGrBsB85xOIsf","head_branch":"master","head_sha":"99766604640340ddf2290043da9dc1219263e6fa","run_number":533,"event":"push","status":"completed","conclusion":"success","workflow_id":17929736,"check_suite_id":5447870438,"check_suite_node_id":"CS_kwDOGrBsB88AAAABRLfn5g","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039","pull_requests":[],"created_at":"2022-02-25T15:54:08Z","updated_at":"2022-02-25T15:57:01Z","run_attempt":1,"run_started_at":"2022-02-25T15:54:08Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5447870438","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","head_commit":{"id":"99766604640340ddf2290043da9dc1219263e6fa","tree_id":"9e02bd1e93d0a7538e88cc929e0170d958c9af91","message":"Merge
        pull request #139 from department-of-veterans-affairs/dependabot/bundler/rack-mini-profiler-3.0.0\n\nBump
        rack-mini-profiler from 2.3.3 to 3.0.0","timestamp":"2022-02-25T15:54:06Z","author":{"name":"Rachal
        Cassity","email":"32692924+RachalCassity@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f98c5fbc51ffef6d0a2ffe53243dcd0de1965a19a17456a3867206035b5105f9"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4819'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '181'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4,"jobs":[{"id":5335947970,"run_id":1899531039,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABPgwawg","head_sha":"99766604640340ddf2290043da9dc1219263e6fa","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5335947970","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5335947970?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-02-25T15:54:22Z","completed_at":"2022-02-25T15:56:57Z","name":"Analyze","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-02-25T08:54:22.000-07:00","completed_at":"2022-02-25T08:54:27.000-07:00"},{"name":"Checkout
        repository","status":"completed","conclusion":"success","number":2,"started_at":"2022-02-25T08:54:27.000-07:00","completed_at":"2022-02-25T08:55:03.000-07:00"},{"name":"Initialize
        CodeQL","status":"completed","conclusion":"success","number":3,"started_at":"2022-02-25T08:55:03.000-07:00","completed_at":"2022-02-25T08:55:16.000-07:00"},{"name":"Autobuild","status":"completed","conclusion":"success","number":4,"started_at":"2022-02-25T08:55:16.000-07:00","completed_at":"2022-02-25T08:55:17.000-07:00"},{"name":"Perform
        CodeQL Analysis","status":"completed","conclusion":"success","number":5,"started_at":"2022-02-25T08:55:17.000-07:00","completed_at":"2022-02-25T08:56:57.000-07:00"},{"name":"Post
        Checkout repository","status":"completed","conclusion":"success","number":10,"started_at":"2022-02-25T08:56:57.000-07:00","completed_at":"2022-02-25T08:56:57.000-07:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":11,"started_at":"2022-02-25T08:56:57.000-07:00","completed_at":"2022-02-25T08:56:57.000-07:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-runs/5335947970","labels":["ubuntu-latest"],"runner_id":183,"runner_name":"GitHub
        Actions 23","runner_group_id":2,"runner_group_name":"GitHub Actions"},{"id":5335974512,"run_id":1899531039,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1899531039","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABPgyCcA","head_sha":"99766604640340ddf2290043da9dc1219263e6fa","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5335974512","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5335974512","status[...]
