---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1646864684'
      X-Ratelimit-Used:
      - '73'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-09T21:37:25Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2182,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":12,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":12,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"advanced_security":{"status":"disabled"},"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Wed, 09 Mar 2022 21:37:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7695ca8bef1b7aea9d27265c8bc159353b1df4446cde25c9edd9483a85bace2"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1646864684'
      X-Ratelimit-Used:
      - '74'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/153","repository_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/153/labels{/name}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/153/comments","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/153/events","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153","id":1163223116,"node_id":"PR_kwDOGrBsB840Ioua","number":153,"title":"Bump
        bootsnap from 1.10.3 to 1.11.1","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","site_admin":false},"labels":[{"id":3739368410,"node_id":"LA_kwDOGrBsB87e4jva","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels/dependencies","name":"dependencies","color":"0366d6","default":false,"description":"Pull
        requests that update a dependency file"}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-03-08T22:40:22Z","updated_at":"2022-03-09T20:24:49Z","closed_at":null,"author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/153","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153","diff_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153.diff","patch_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153.patch","merged_at":null},"body":"Bumps
        [bootsnap](https://github.com/Shopify/bootsnap) from 1.10.3 to 1.11.1.\n<details>\n<summary>Changelog</summary>\n<p><em>Sourced
        from <a href=\"https://github.com/Shopify/bootsnap/blob/main/CHANGELOG.md\">bootsnap''s
        changelog</a>.</em></p>\n<blockquote>\n<h1>1.11.1</h1>\n<ul>\n<li>Fix the
        <code>can''t modify frozen Hash</code> error on load path cache mutation.
        See <a href=\"https://github-redirect.dependabot.com/Shopify/bootsnap/issues/411\">#411</a>.</li>\n</ul>\n<h1>1.11.0</h1>\n<ul>\n<li>\n<p>Drop
        dependency on <code>fileutils</code>.</p>\n</li>\n<li>\n<p>Better respect
        <code>Kernel#require</code> duck typing. While it almost never comes up in
        practice, <code>Kernel#require</code>\nfollow a fairly intricate duck-typing
        p[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17962379/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9be6c1100b9ad72be00b6ea2602158a6d5e9032a50483d2cdda7769f1b57ca98"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/workflows/17962379/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/workflows/17962379/runs?page=18&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1646864684'
      X-Ratelimit-Used:
      - '75'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":342,"workflow_runs":[{"id":1959825483,"name":"Release
        and Update Manifests","node_id":"WFR_kwLOGrBsB8500JBL","head_branch":"master","head_sha":"d3153380d30c25eb3e2fbd8293de4294a7ee696c","run_number":342,"event":"workflow_run","status":"queued","conclusion":null,"workflow_id":17962379,"check_suite_id":5600031074,"check_suite_node_id":"CS_kwDOGrBsB88AAAABTcmxYg","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483","pull_requests":[],"created_at":"2022-03-09T21:37:06Z","updated_at":"2022-03-09T21:37:21Z","actor":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-03-09T21:37:06Z","triggering_actor":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5600031074","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959825483/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17962379","head_commit":{"id":"d3153380d30c25eb3e2fbd8293de4294a7ee696c","tree_id":"443ea486cbca980aa35c76b5f805952076a005ea","message":"fix:
        add rails master key env var","timestamp":"2022-03-09T20:24:13Z","author":{"name":"Travis
        Hilton","email":"53486698+thilton-oddball@users.noreply.github.com"},"committer":{"name":"Lindsey
        Hattamer","email":"lindsey.hattamer@oddball.io"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?branch=master&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e22be77dce4f8e2c2b0111400[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7ba964c994035244d8bea6f9aca6590ccd2a2b43e146d3026192845eb11cc53"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4923'
      X-Ratelimit-Reset:
      - '1646864684'
      X-Ratelimit-Used:
      - '77'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":8,"workflows":[{"id":17919887,"node_id":"W_kwDOGrBsB84BEW-P","name":"Code
        Checks","path":".github/workflows/code_checks.yml","state":"active","created_at":"2022-01-13T16:45:24.000-07:00","updated_at":"2022-01-14T07:42:12.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/code_checks.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/Code%20Checks/badge.svg"},{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T22:05:58.000-07:00","updated_at":"2022-02-24T00:23:42.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platfor[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18f06f35a840f49eeb711e065f298d70c32509f07cc02f19cb3f19c7b7c28bc9"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
      X-Ratelimit-Reset:
      - '1646864684'
      X-Ratelimit-Used:
      - '78'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/153","id":874679194,"node_id":"PR_kwDOGrBsB840Ioua","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153","diff_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153.diff","patch_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/153.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/153","number":153,"state":"open","locked":false,"title":"Bump
        bootsnap from 1.10.3 to 1.11.1","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb7f952001e25c7caad0fe81235e45353eb5f73[...]
