---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a63b292d27412724dd08f66bbbfb87eedf7908350a66f6351a79ff40221b4946"
      Last-Modified:
      - Thu, 24 Feb 2022 18:14:12 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4729'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '271'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-02-24T18:14:12Z","pushed_at":"2022-02-25T16:23:51Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":347715,"stargazers_count":115,"watchers_count":115,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":49,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":56,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":49,"open_issues":56,"watchers":115,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":49,"subscribers_count":155}'
  recorded_at: Fri, 25 Feb 2022 16:32:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29672c6a2b59e1fea5cb185cf5d89192be5d2e521d20665af6b62e6c3121122d"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/runs?page=2500&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4728'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '272'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":49986,"workflow_runs":[{"id":1899695122,"name":"Pact
        Contract Tests","node_id":"WFR_kwLOA7hKyc5xOwwS","head_branch":"master","head_sha":"7d5186a16f20a2a8daab9c3aa62980f3bb8d4cc3","run_number":13326,"event":"workflow_dispatch","status":"in_progress","conclusion":null,"workflow_id":8289333,"check_suite_id":5448344739,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABRL8kow","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1899695122","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"7d5186a16f20a2a8daab9c3aa62980f3bb8d4cc3","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-02-25T16:30:51Z","updated_at":"2022-02-25T16:31:03Z","run_attempt":1,"run_started_at":"2022-02-25T16:30:51Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5448344739","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1899695122/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/8289333","head_commit":{"id":"7d5186a16f20a2a8daab9c3aa62980f3bb8d4cc3","tree_id":"1791cd839e5d98be18c76350d61ddea746695bf3","message":"Bump
        aws-sdk-sns from 1.52.0 to 1.53.0 (#9221)","timestamp":"2022-02-25T16:06:03Z","author":{"name":"dependabot[bot]","email":"49699333+dependabot[bot]@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3389bfb2e9e3efad7e364f4680a6b8b4bff4e17b4cb6bf49f1b80838944a52e"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4727'
      X-Ratelimit-Reset:
      - '1645806937'
      X-Ratelimit-Used:
      - '273'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":15,"workflows":[{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build
        & Push to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T14:17:22.000-06:00","updated_at":"2021-09-28T14:23:54.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"},{"id":7346344,"node_id":"MDg6V29ya2Zsb3c3MzQ2MzQ0","name":"Build
        and Test","path":".github/workflows/build_and_test.yml","state":"active","created_at":"2021-03-31T08:34:12.000-06:00","updated_at":"2021-04-09T11:26:21.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7346344","html_url":"https://github.com/department-of-vetera[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5fc9ebb21b7ca1dc2e4fc41815077c3fa702823f0cfc3a29509d42053[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309/runs?branch&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"092753d6ebe1f9cdfab6fc028b[...]
