---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a63b292d27412724dd08f66bbbfb87eedf7908350a66f6351a79ff40221b4946"
      Last-Modified:
      - Thu, 24 Feb 2022 18:14:12 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4251'
      X-Ratelimit-Reset:
      - '1645817740'
      X-Ratelimit-Used:
      - '749'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-02-24T18:14:12Z","pushed_at":"2022-02-25T19:19:01Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":347732,"stargazers_count":115,"watchers_count":115,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":49,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":53,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":49,"open_issues":53,"watchers":115,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":49,"subscribers_count":155}'
  recorded_at: Fri, 25 Feb 2022 19:26:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a49f9ddb49286673a368e46f19f27a2e09e3c7e1e64da1b2f7c21b6f17787af5"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/runs?page=2505&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4250'
      X-Ratelimit-Reset:
      - '1645817740'
      X-Ratelimit-Used:
      - '750'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":50089,"workflow_runs":[{"id":1900416477,"name":"Build
        & Push to ECR","node_id":"WFR_kwLOA7hKyc5xRg3d","head_branch":"master","head_sha":"e0770e2113ecf445d359b25ddf6ff21ba599de1e","run_number":1118,"event":"workflow_run","status":"in_progress","conclusion":null,"workflow_id":13418388,"check_suite_id":5450306610,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABRN0UMg","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1900416477","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"e0770e2113ecf445d359b25ddf6ff21ba599de1e","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-02-25T19:25:23Z","updated_at":"2022-02-25T19:25:34Z","run_attempt":1,"run_started_at":"2022-02-25T19:25:23Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5450306610","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1900416477/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","head_commit":{"id":"e0770e2113ecf445d359b25ddf6ff21ba599de1e","tree_id":"bd1ec6256fbe6250730b0cbc18799387b1828bd8","message":"2646
        mobile update maintenance window service map (#9225)\n\n* add payment history
        to mobile maintenance window service map","timestamp":"2022-02-25T19:18:33Z","author":{"name":"Alastair
        Dawson","email":"alastair.j.dawson@gmail.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/fu96GOJleFsryGAthC19eocndqQLJsouxGK8ssvNvGWTMO2pLp/_apis/pipelines/1/runs/49859/signedlogcontent?urlExpires=2022-02-25T19%3A27%3A28.3908279Z&urlSigningMethod=HMACV1&urlSignature=0vhqkEe2Q8S8SDaqbsa%2Fg4%2BxH4ynBiqWlz4avD%2BnOBo%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4249'
      X-Ratelimit-Reset:
      - '1645817740'
      X-Ratelimit-Used:
      - '751'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 Feb 2022 19:26:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60b840409c2205ae13b28cf64b3ccbb042c074e8ba89e9a486f6a1bf87e[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a7bfdbf8c64b143043b47572deb6cd5ebee03a0f9fef294b2df645088c61f373"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4247'
      X-Ratelimit-Reset:
      - '1645817740'
      X-Ratelimit-Used:
      - '753'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4,"jobs":[{"id":5234282948,"run_id":1859445208,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208","run_attempt":1,"node_id":"CR_kwDOA7hKyc8AAAABN_zRxA","head_sha":"3c32c369097172fe3f41028319d333cb087b152d","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5234282948","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5234282948?check_suite_focus=true","status":"completed","conclusion":"cancelled","started_at":"2022-02-17T15:16:59Z","completed_at":"2022-02-17T21:17:19Z","name":"Test","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-02-17T08:16:59.000-07:00","completed_at":"2022-02-17T08:17:04.000-07:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":2,"started_at":"2022-02-17T08:17:04.000-07:00","completed_at":"2022-02-17T08:17:19.000-07:00"},{"name":"Run
        docker/login-action@v1","status":"completed","conclusion":"success","number":3,"started_at":"2022-02-17T08:17:1[...]
