---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af553235c1b57e5352cb2a862298bdebb35d9540bbf31e8aabd2fd3d65bcde28"
      Last-Modified:
      - Wed, 16 Feb 2022 21:10:42 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4698'
      X-Ratelimit-Reset:
      - '1645120841'
      X-Ratelimit-Used:
      - '302'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-02-16T21:10:42Z","pushed_at":"2022-02-17T17:28:19Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":290546,"stargazers_count":114,"watchers_count":114,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":48,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":50,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":48,"open_issues":50,"watchers":114,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":48,"subscribers_count":158}'
  recorded_at: Thu, 17 Feb 2022 17:28:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b03f7fd5170e5b66c3fceb33b1f67768030b44369195b60d544a0e00d642b0ce"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?per_page=20&page=2>;
        rel="next", <https://api.github.com/repositories/62409417/actions/runs?per_page=20&page=2390>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4697'
      X-Ratelimit-Reset:
      - '1645120841'
      X-Ratelimit-Used:
      - '303'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":47793,"workflow_runs":[{"id":1860107184,"name":"Code
        Checks","node_id":"WFR_kwLOA7hKyc5u3vuw","head_branch":"lhattamer-sidekiq-6.4.1","head_sha":"21b9cc6b47db3b1f88295215663c5cc1b3c85206","run_number":15505,"event":"push","status":"in_progress","conclusion":null,"workflow_id":7426309,"check_suite_id":5348831269,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABPtCwJQ","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1860107184","pull_requests":[],"created_at":"2022-02-17T17:28:21Z","updated_at":"2022-02-17T17:28:33Z","run_attempt":1,"run_started_at":"2022-02-17T17:28:21Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5348831269","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1860107184/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309","head_commit":{"id":"21b9cc6b47db3b1f88295215663c5cc1b3c85206","tree_id":"b51e87a317184a28c5f5c5f734ef02f604dfaac1","message":"update
        sidekiq","timestamp":"2022-02-17T17:27:33Z","author":{"name":"Lindsey Hattamer","email":"lindsey.hattamer@oddball.io"},"committer":{"name":"Lindsey
        Hattamer","email":"lindsey.hattamer@oddball.io"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4696'
      X-Ratelimit-Reset:
      - '1645120841'
      X-Ratelimit-Used:
      - '304'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Feb 2022 17:28:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10ef7f8bc3f110998b61c01a52c63d052cc770c20efb6f867720fd44b5e[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69df0d1feecfd4a3a15ac70c5cf967ae64270fa110f1d940bdc96929dd92253f"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4694'
      X-Ratelimit-Reset:
      - '1645120841'
      X-Ratelimit-Used:
      - '306'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"jobs":[{"id":5234282948,"run_id":1859445208,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1859445208","run_attempt":1,"node_id":"CR_kwDOA7hKyc8AAAABN_zRxA","head_sha":"3c32c369097172fe3f41028319d333cb087b152d","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5234282948","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5234282948?check_suite_focus=true","status":"in_progress","conclusion":null,"started_at":"2022-02-17T15:16:59Z","completed_at":null,"name":"Test","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-02-17T08:16:59.000-07:00","completed_at":"2022-02-17T08:17:04.000-07:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":2,"started_at":"2022-02-17T08:17:04.000-07:00","completed_at":"2022-02-17T08:17:19.000-07:00"},{"name":"Run
        docker/login-action@v1","status":"completed","conclusion":"success","number":3,"started_at":"2022-02-17T08:17:19.000-07:00","completed_at":"2022-02-17T08:17:20.000-07:00"},{"name":"Setup
       [...]
