---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d338987e1669effd1917916023b42bb541b6b82963d518ce0b996bc93f4ba286"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '105'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build & Push
        to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T14:17:22.000-06:00","updated_at":"2021-09-28T14:23:54.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"}'
  recorded_at: Wed, 16 Mar 2022 14:54:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/.github/workflows/build.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28c161952f4eafb1d4fa2f8bba8382f505650087"
      Last-Modified:
      - Tue, 15 Mar 2022 20:34:49 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4894'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '106'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"build.yml","path":".github/workflows/build.yml","sha":"28c161952f4eafb1d4fa2f8bba8382f505650087","size":1422,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/.github/workflows/build.yml?ref=master","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs/28c161952f4eafb1d4fa2f8bba8382f505650087","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-api/master/.github/workflows/build.yml","type":"file","content":"bmFtZTogQnVpbGQgJiBQdXNoIHRvIEVDUgpvbjoKICB3b3JrZmxvd19kaXNw\nYXRjaDoKICB3b3JrZmxvd19ydW46CiAgICB3b3JrZmxvd3M6IFsiQ29kZSBD\naGVja3MiXQogICAgYnJhbmNoZXM6IFttYXN0ZXJdCiAgICB0eXBlczogW2Nv\nbXBsZXRlZF0KcGVybWlzc2lvbnM6CiAgY29udGVudHM6IHJlYWQKam9iczoK\nICBidWlsZF9hbmRfcHVzaDoKICAgIG5hbWU6IEJ1aWxkIGFuZCBQdXNoCiAg\nICBlbnY6CiAgICAgIEJVTkRMRV9FTlRFUlBSSVNFX19DT05UUklCU1lTX19D\nT006ICR7eyBzZWNyZXRzLkJVTkRMRV9FTlRFUlBSSVNFX19DT05UUklCU1lT\nX19DT00gfX0KICAgIHJ1bnMtb246IHVidW50dS0yMC4wNAogICAgc3RlcHM6\nCiA[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736/dispatches
    body:
      encoding: UTF-8
      string: '{"ref":"master"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '107'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2022 14:54:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"754249d5facbf45260af48d90e462ea9413b2dbadf93eeb3f84bf6e1e11332f5"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/workflows/13418388/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/workflows/13418388/runs?page=68&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '108'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1358,"workflow_runs":[{"id":1989142747,"name":"Build
        & Push to ECR","node_id":"WFR_kwLOA7hKyc52j-jb","head_branch":"master","head_sha":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","run_number":1358,"event":"workflow_run","status":"completed","conclusion":"failure","workflow_id":13418388,"check_suite_id":5672810748,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABUiA4_A","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1989142747","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-03-15T20:41:05Z","updated_at":"2022-03-15T20:50:26Z","actor":{"login":"ElleeB","id":30485143,"node_id":"MDQ6VXNlcjMwNDg1MTQz","avatar_url":"https://avatars.githubusercontent.com/u/30485143?v=4","gravatar_id":"","url":"https://api.github.com/users/ElleeB","html_url":"https://github.com/ElleeB","followers_url":"https://api.github.com/users/ElleeB/followers","following_url":"https://api.github.com/users/ElleeB/following{/other_user}","gists_url":"https://api.github.com/users/ElleeB/gists{/gist_id}","starred_url":"https://api.github.com/users/ElleeB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ElleeB/subscriptions","organizations_url":"https://api.github.com/users/ElleeB/orgs","repos_url":"https://api.github.com/users/ElleeB/repos","events_url":"https://api.github.com/users/ElleeB/events{/privacy}","received_events_url":"https://api.github.com/users/ElleeB/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-03-15T20:41:05Z","triggering_actor":{"login":"ElleeB","id":30485143,"node_id":"MDQ6VXNlcjMwNDg1MTQz","avatar_url":"https://avatars.githubusercontent.com/u/30485143?v=4","gravatar_id":"","url":"https://api.github.com/users/ElleeB","html_url":"https://github.com/ElleeB","followers_url":"https://api.github.com/users/ElleeB/followers","following_url":"https://api.github.com/users/ElleeB/following{/other_user}","gists_url":"https://api.github.com/users/ElleeB/gists{/gist_id}","starred_url":"https://api.github.com/users/ElleeB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ElleeB/subscriptions","organizations_url":"https://api.github.com/users/ElleeB/orgs","repos_url":"https://api.github.com/users/ElleeB/repos","events_url":"https://api.github.com/users/ElleeB/events{/privacy}","received_events_url":"https://api.github.com/users/ElleeB/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5672810748","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1989142747/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","head_commit":{"id":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","tree_id":"6e5d51391420457cb852da14ac4ca4ea1578c558","message":"Attempted
        timezone fix to avoid daylight savings issues (#9350)","timestamp":"2022-03-15T20:34:49Z","author":{"name":"Laura
        Trager","email":"30485143+ElleeB@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments"},"head_repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20fca5c4c6a55a47045b4b6743f05cfc6ec188335b963583b18d7dd9d65dc5b0"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '109'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":15,"workflows":[{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build
        & Push to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T14:17:22.000-06:00","updated_at":"2021-09-28T14:23:54.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-a[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1654268679'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Fri, 03 Jun 2022 14:04:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows//runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1654268679'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Fri, 03 Jun 2022 14:12:24 GMT
recorded_with: VCR 6.1.0
