---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4799'
      X-Ratelimit-Reset:
      - '1646886937'
      X-Ratelimit-Used:
      - '201'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-09T23:32:12Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2234,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":13,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":13,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Thu, 10 Mar 2022 04:27:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2a6630064ad874689307fff46d3ec67688134252bd8bbac34e281e665e2bab3"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/runs?page=126&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4798'
      X-Ratelimit-Reset:
      - '1646886937'
      X-Ratelimit-Used:
      - '202'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2508,"workflow_runs":[{"id":1961136256,"name":"Release
        and Update Manifests","node_id":"WFR_kwLOGrBsB8505JCA","head_branch":"master","head_sha":"05390eed1ea7d55a57740ee4f3e879f323354be7","run_number":391,"event":"workflow_run","status":"completed","conclusion":"success","workflow_id":17962379,"check_suite_id":5603310350,"check_suite_node_id":"CS_kwDOGrBsB88AAAABTfu7Dg","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256","pull_requests":[],"created_at":"2022-03-10T04:15:52Z","updated_at":"2022-03-10T04:17:22Z","actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-03-10T04:15:52Z","triggering_actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5603310350","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1961136256/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17962379","head_commit":{"id":"05390eed1ea7d55a57740ee4f3e879f323354be7","tree_id":"0da30a27ebdcdd2909070778c41085c7b6e66bb5","message":"fix:
        Add Rails master key to dockerfile (#157)","timestamp":"2022-03-09T22:05:27Z","author":{"name":"Riley
        Anderson","email":"5150r.d.anderson@gmail.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/2493/signedlogcontent?urlExpires=2022-03-10T04%3A28%3A47.3396036Z&urlSigningMethod=HMACV1&urlSignature=tCSJY8dBU8JGUwXHTIp7JxG3Mqjm%2BlnP6coxzE2Sz8o%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4797'
      X-Ratelimit-Reset:
      - '1646886937'
      X-Ratelimit-Used:
      - '203'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2022 04:27:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"836343198db250bf7f9995bdba89f6721445950f67aaf9f[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1cc755e399efb792484e9c90931fba869c325780cb381933ba529792e721df6"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4795'
      X-Ratelimit-Reset:
      - '1646886937'
      X-Ratelimit-Used:
      - '205'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"jobs":[{"id":5490777738,"run_id":1960262366,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366","run_attempt":4,"node_id":"CR_kwDOGrBsB88AAAABR0aeig","head_sha":"05390eed1ea7d55a57740ee4f3e879f323354be7","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5490777738","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5490777738?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-03-10T04:26:03Z","completed_at":"2022-03-10T04:26:03Z","name":"deploy
        / prepare-values","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-03-09T21:26:03.000-07:00","completed_at":"2022-03-09T21:26:03.000-07:00"},{"name":"Set
        to auto deploy environments on push to master","status":"completed","conclusion":"success","number":2,"started_at":"2022-03-09T21:26:03.000-07:00","completed_at":"2022-03-09T21:26:03.000-07:00"},{"name":"Set
        output","status":"completed","conclusion":"success","number":3,"started_at":"2022-03-09T21:26:04.000-07:00","completed_at":"2022-03-09T21:26:03.000-07:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":4,"started_at":"2022-03-09T21:26:03.000-07:00","completed_at":"2022-03-09T21:26:03.000-07:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-runs/5490777738","labels":["ubuntu-20.04"],"runner_id":4,"runner_name":"GitHub
        Actions 4","runner_group_id":2,"runner_group_name":"GitHub Actions"},{"id":5490779357,"run_id":1960262366,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366","run_attempt":4,"node_id":"CR_kwDOGrBsB88AAAABR0ak3Q","head_sha":"05390eed1ea7d55a57740ee4f3e879f323354be7","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5490779357","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5490779357?check_su[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366/rerun
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"22e63bc1c048cfaf4aab1c29264eb3b0b4ad4f639405be687fec315cd360174f"'
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4794'
      X-Ratelimit-Reset:
      - '1646886937'
      X-Ratelimit-Used:
      - '206'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 10 Mar 2022 04:27:48 GMT
recorded_with: VCR 6.0.0
