---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5204164825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9028dd164ee7a3ff551eddeecb0255483f84c7c951de0824aba75dc1715d724e"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4674'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '326'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":5204164825,"run_id":1848333333,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333","run_attempt":1,"node_id":"CR_kwDOA7hKyc8AAAABNjFA2Q","head_sha":"4be7b708db46716631e0eb62da647fab5bdbf97a","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5204164825","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5204164825","status":"completed","conclusion":"success","started_at":"2022-02-15T17:11:18Z","completed_at":"2022-02-15T17:11:18Z","name":"Coverage","steps":[],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-runs/5204164825","labels":[],"runner_id":null,"runner_name":null,"runner_group_id":null,"runner_group_name":null}'
  recorded_at: Thu, 17 Mar 2022 15:44:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a16aabab9f480e48657075198e7ee808a7cd9f95f7ecbd5297fb02db4db21ab8"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4673'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '327'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":5,"jobs":[{"id":5204071637,"run_id":1848333333,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333","run_attempt":1,"node_id":"CR_kwDOA7hKyc8AAAABNi_U1Q","head_sha":"4be7b708db46716631e0eb62da647fab5bdbf97a","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5204071637","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5204071637?check_suite_focus=true","status":"completed","conclusion":"failure","started_at":"2022-02-15T17:05:07Z","completed_at":"2022-02-15T17:09:59Z","name":"Test","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-02-15T10:05:07.000-07:00","completed_at":"2022-02-15T10:05:11.000-07:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":2,"started_at":"2022-02-15T10:05:11.000-07:00","completed_at":"2022-02-15T10:05:27.000-07:00"},{"name":"Run
        docker/login-action@v1","status":"completed","conclusion":"success","number":3,"started_at":"2022-02-15T10:05:27.000-07:00","completed_at":"2022-02-15T10:05:28.000-07:00"},{"name":"Setup
       [...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ce384c1f45c4cc7b5977a0da01d3a8b902a30ce6d2fea2f079ce750ea9e3461"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4672'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '328'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":1848333333,"name":"Code Checks","node_id":"WFR_kwLOA7hKyc5uK1QV","head_branch":"API-12125-fixup-appellant-and-hlr-class","head_sha":"4be7b708db46716631e0eb62da647fab5bdbf97a","run_number":15265,"event":"push","status":"completed","conclusion":"failure","workflow_id":7426309,"check_suite_id":5317419450,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABPPFhug","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1848333333","pull_requests":[],"created_at":"2022-02-15T17:05:01Z","updated_at":"2022-02-15T17:11:39Z","actor":{"login":"ElleeB","id":30485143,"node_id":"MDQ6VXNlcjMwNDg1MTQz","avatar_url":"https://avatars.githubusercontent.com/u/30485143?v=4","gravatar_id":"","url":"https://api.github.com/users/ElleeB","html_url":"https://github.com/ElleeB","followers_url":"https://api.github.com/users/ElleeB/followers","following_url":"https://api.github.com/users/ElleeB/following{/other_user}","gists_url":"https://api.github.com/users/ElleeB/gists{/gist_id}","starred_url":"https://api.github.com/users/ElleeB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ElleeB/subscriptions","organizations_url":"https://api.github.com/users/ElleeB/orgs","repos_url":"https://api.github.com/users/ElleeB/repos","events_url":"https://api.github.com/users/ElleeB/events{/privacy}","received_events_url":"https://api.github.com/users/ElleeB/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-02-15T17:05:01Z","triggering_actor":{"login":"ElleeB","id":30485143,"node_id":"MDQ6VXNlcjMwNDg1MTQz","avatar_url":"https://avatars.githubusercontent.com/u/30485143?v=4","gravatar_id":"","url":"https://api.github.com/users/ElleeB","html_url":"https://github.com/ElleeB","followers_url":"https://api.github.com/users/ElleeB/followers","following_url":"https://api.github.com/users/ElleeB/following{/other_user}","gists_url":"https://api.github.com/users/ElleeB/gists{/gist_id}","starred_url":"https://api.github.com/users/ElleeB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ElleeB/subscriptions","organizations_url":"https://api.github.com/users/ElleeB/orgs","repos_url":"https://api.github.com/users/ElleeB/repos","events_url":"https://api.github.com/users/ElleeB/events{/privacy}","received_events_url":"https://api.github.com/users/ElleeB/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5317419450","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309","head_commit":{"id":"4be7b708db46716631e0eb62da647fab5bdbf97a","tree_id":"5f7a17935c11f9149403289a1a24b85e9d4dc575","message":"Delete
        mystery nod file","timestamp":"2022-02-15T17:04:55Z","author":{"name":"Laura
        Trager","email":"laura.trager@adhocteam.us"},"committer":{"name":"Laura Trager","email":"laura.trager@adhocteam.us"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments"},"head_repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1848333333/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/fu96GOJleFsryGAthC19eocndqQLJsouxGK8ssvNvGWTMO2pLp/_apis/pipelines/1/runs/49089/signedlogcontent?urlExpires=2022-03-17T15%3A45%3A17.6254196Z&urlSigningMethod=HMACV1&urlSignature=z9gVSLGuETEpKMmB5b4IukayBIcy33mpBDcdotZDN0I%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4671'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '329'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2022 15:44:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5204164825/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4670'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '330'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/actions#download-job-logs-for-a-workflow-run"}'
  recorded_at: Thu, 17 Mar 2022 15:44:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-runs/5204164825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d137a5b19c05f9f9de8a382ba415363c40817f2157b4659534b4a78e967fe01"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4669'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '331'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":5204164825,"name":"Coverage","node_id":"CR_kwDOA7hKyc8AAAABNjFA2Q","head_sha":"4be7b708db46716631e0eb62da647fab5bdbf97a","external_id":"","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-runs/5204164825","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5204164825","details_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5204164825","status":"completed","conclusion":"success","started_at":"2022-02-15T17:11:18Z","completed_at":"2022-02-15T17:11:18Z","output":{"title":"Coverage
        96.43%","summary":"**Coverage**:\n\n| Type  | covered | minimum |\n| -----
        | ------- | ------- |\n| Lines | 96.43%     | 90%     |\n","text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-runs/5204164825/annotations"},"check_suite":{"id":5317419450},"app":{"id":15368,"slug":"github-actions","node_id":"MDM6QXBwMTUzNjg=","owner":{"login":"github","id":9919,"node_id":"MDEyOk9yZ2FuaXphdGlvbjk5MTk=","avatar_url":"https://avatars.githubusercontent.com/u/9919?v=4","gravatar_id":"","url":"https://api.github.com/users/github","html_url":"https://github.com/github","followers_url":"https://api.github.com/users/github/followers","following_url":"https://api.github.com/users/github/following{/other_user}","gists_url":"https://api.github.com/users/github/gists{/gist_id}","starred_url":"https://api.github.com/users/github/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github/subscriptions","organizations_url":"https://api.github.com/users/github/orgs","repos_url":"https://api.github.com/users/github/repos","events_url":"https://api.github.com/users/github/events{/privacy}","received_events_url":"https://api.github.com/users/github/received_events","type":"Organization","site_admin":false},"name":"GitHub
        Actions","description":"Automate your workflow from idea to production","external_url":"https://help.github.com/en/actions","html_url":"https://github.com/apps/github-actions","created_at":"2018-07-30T09:30:17Z","updated_at":"2019-12-10T19:04:12Z","permissions":{"actions":"write","administration":"read","checks":"write","contents":"write","deployments":"write","discussions":"write","issues":"write","metadata":"read","organization_packages":"write","packages":"write","pages":"write","pull_requests":"write","repository_hooks":"write","repository_projects":"write","security_events":"write","statuses":"write","vulnerability_alerts":"read"},"events":["branch_protection_rule","check_run","check_suite","create","delete","deployment","deployment_status","discussion","discussion_comment","fork","gollum","issues","issue_comment","label","milestone","page_build","project","project_card","project_column","public","pull_request","pull_request_review","pull_request_review_comment","push","registry_package","release","repository","repository_dispatch","status","watch","workflow_dispatch","workflow_run"]},"pull_requests":[]}'
  recorded_at: Thu, 17 Mar 2022 15:44:18 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5204164825/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4650'
      X-Ratelimit-Reset:
      - '1647533082'
      X-Ratelimit-Used:
      - '350'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/actions#download-job-logs-for-a-workflow-run"}'
  recorded_at: Thu, 17 Mar 2022 15:44:23 GMT
recorded_with: VCR 6.0.0
