---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3375995b1e7541d884b5356edf92c98b715aace4b14efa9771446b0ee650fbcc"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/pulls?page=2&per_page=20>; rel="next",
        <https://api.github.com/repositories/62409417/pulls?page=2&per_page=20>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Used:
      - '47'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/10032","id":963358026,"node_id":"PR_kwDOA7hKyc45a61K","html_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/10032","diff_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/10032.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/10032.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/10032","number":10032,"state":"open","locked":false,"title":"Disable
        1010ez in progress reminders","user":{"login":"nathanbwright","id":4740018,"node_id":"MDQ6VXNlcjQ3NDAwMTg=","avatar_url":"https://avatars.githubusercontent.com/u/4740018?v=4","gravatar_id":"","url":"https://api.github.com/users/nathanbwright","html_url":"https://github.com/nathanbwright","followers_url":"https://api.github.com/users/nathanbwright/followers","following_url":"https://api.github.com/users/nathanbwright/following{/other_user}","gists_url":"https://api.github.com/users/nathanbwright/gists{/gist_id}","starred_url":"https://api.github.com/users/nathanbwright/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nathanbwright/subscriptions","organizations_url":"https://api.github.com/users/nathanbwright/orgs","repos_url":"https://api.github.com/users/nathanbwright/repos","events_url":"https://api.github.com/users/nathanbwright/events{/privacy}","received_events_url":"https://api.github.com/users/nathanbwright/received_events","type":"User","site_admin":false},"body":"##
        Description of change\r\nDisables 1010ez in progress reminders for the time
        being.\r\n\r\n## Original issue(s)\r\nhttps://app.zenhub.com/workspaces/forms-strike-team-620c2914e703390013c4b414/issues/department-of-veterans-affairs/vanotify-team/387","created_at":"2022-06-09T21:21:08Z","updated_at":"2022-06-09T21:21:09Z","closed_at":null,"merged_at":null,"merge_commit_sha":"e6fb505304fe3bbdeed08a4ac51cd0edcd31a3d6","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[{"name":"backend-review-group","id":3079138,"node_id":"MDQ6VGVhbTMwNzkxMzg=","slug":"backend-review-group","description":"Code
        reviewers for back end work on vets-website and vets-api","privacy":"closed","url":"https://api.github.com/organizations/5421563/team/3079138","html_url":"https://github.com/orgs/department-of-veterans-affairs/teams/backend-review-group","members_url":"https://api.github.com/organizations/5421563/team/3079138/members{/member}","repositories_url":"https://api.github.com/organizations/5421563/team/3079138/repos","permission":"pull","parent":null},{"name":"VA
        API Engineers","id":3201172,"node_id":"MDQ6VGVhbTMyMDExNzI=","slug":"va-api-engineers","description":"Engineering
        folks on the VA API project","privacy":"closed","url":"https://api.github.com/organizations/5421563/team/3201172","html_url":"https://github.com/orgs/department-of-veterans-affairs/teams/va-api-engineers","members_url":"https://api.github.com/organizations/5421563/team/3201172/members{/member}","repositories_url":"https://api.github.com/organizations/5421563/team/3201172/repos","permission":"pull","parent":null}],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/10032/commits","review_comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/10032/comments","review_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/comments{/number}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/10032/comments","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/a79c54ab1836da8331660cdd1a2b60bfebe7c139","head":{"label":"department-of-veterans-affairs:va-notify-387/disable-1010ez","ref":"va-notify-387/disable-1010ez","sha":"a79c54ab1836da8331660cdd1a2b60bfebe7c139","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"repo":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-06-08T20:26:40Z","pushed_at":"2022-06-09T21:42:22Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"https://api.va.gov","size":323520,"stargazers_count":127,"watchers_count":127,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":52,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":51,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":52,"open_issues":51,"watchers":127,"default_branch":"master"}},"base":{"label":"department-of-veterans-affairs:master","ref":"master","sha":"f75381a92ae4944e7a72ec3325f334a096d919a9","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veter[...]
