---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366/rerun
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Used:
      - '63'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Unable to retry this workflow run because it was created
        over a month ago","documentation_url":"https://docs.github.com/rest/reference/actions#re-run-a-workflow"}'
  recorded_at: Thu, 09 Jun 2022 22:02:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"309b61a0a1f0ee20579a91af8f6b423509dd6442305506ca629581ae2fe9f3f1"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Used:
      - '64'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"jobs":[{"id":5587528223,"run_id":1960262366,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366","run_attempt":8,"node_id":"CR_kwDOGrBsB88AAAABTQrqHw","head_sha":"05390eed1ea7d55a57740ee4f3e879f323354be7","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5587528223","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5587528223?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-03-17T15:41:14Z","completed_at":"2022-03-17T15:41:14Z","name":"deploy
        / prepare-values","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-03-17T09:41:14.000-06:00","completed_at":"2022-03-17T09:41:14.000-06:00"},{"name":"Set
        to auto deploy environments on push to master","status":"completed","conclusion":"success","number":2,"started_at":"2022-03-17T09:41:14.000-06:00","completed_at":"2022-03-17T09:41:14.000-06:00"},{"name":"Set
        output","status":"completed","conclusion":"success","number":3,"started_at":"2022-03-17T09:41:17.000-06:00","completed_at":"2022-03-17T09:41:14.000-06:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":4,"started_at":"2022-03-17T09:41:14.000-06:00","completed_at":"2022-03-17T09:41:14.000-06:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-runs/5587528223","labels":["ubuntu-20.04"],"runner_id":182,"runner_name":"GitHub
        Actions 22","runner_group_id":2,"runner_group_name":"GitHub Actions"},{"id":5587532820,"run_id":1960262366,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1960262366","run_attempt":8,"node_id":"CR_kwDOGrBsB88AAAABTQr8FA","head_sha":"05390eed1ea7d55a57740ee4f3e879f323354be7","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5587532820","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5587532820?check_su[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ef9940db26114c1703bdcc915c352619f0ce8684780b58fa3e45898027cbaa5"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/runs?page=202&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Used:
      - '66'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4022,"workflow_runs":[{"id":2471436331,"name":"Push
        image to ECR when changes are pushed to master","node_id":"WFR_kwLOGrBsB86TTyAr","head_branch":"master","head_sha":"de1c45039b8dfa76c91b8fe7b419a43270a5f43c","path":".github/workflows/push-images.yml","run_number":802,"event":"workflow_run","status":"queued","conclusion":null,"workflow_id":18776241,"check_suite_id":6870753364,"check_suite_node_id":"CS_kwDOGrBsB88AAAABmYdgVA","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331","pull_requests":[],"created_at":"2022-06-09T22:02:42Z","updated_at":"2022-06-09T22:02:42Z","actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"run_attempt":1,"referenced_workflows":[{"path":"department-of-veterans-affairs/platform-console-api/.github/workflows/push-image-template.yml@master","sha":"de1c45039b8dfa76c91b8fe7b419a43270a5f43c","ref":"refs/heads/master"}],"run_started_at":"2022-06-09T22:02:42Z","triggering_actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/6870753364","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471436331/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/18776241","head_commit":{"id":"de1c45039b8dfa76c91b8fe7b419a43270a5f43c","tree_id":"e7d5686a8323d50cb41d505da8fa06451edb62e3","message":"Add
        json api serializers (#225)\n\n* rebase, squash, fix git history\r\n\r\n*
        apply review suggestions","timestamp":"2022-06-03T15:38:58Z","author":{"name":"Riley
        Anderson","email":"5150r.d.anderson@gmail.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments"},"head_repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471421620/rerun
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"54e16edb04775dd5059f0958fd008c53562c2d5e2d8d5f53caf724af6abd6055"'
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Used:
      - '67'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 09 Jun 2022 22:02:49 GMT
recorded_with: VCR 6.1.0
