---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eefb5d8105249315abc6ddbd557faf52993ebe39be920a137f37d4de6ca55976"
      Last-Modified:
      - Mon, 14 Mar 2022 16:48:41 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4862'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '138'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-03-14T16:48:41Z","pushed_at":"2022-03-16T14:51:00Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":353701,"stargazers_count":117,"watchers_count":117,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":48,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":62,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":48,"open_issues":62,"watchers":117,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":48,"subscribers_count":156}'
  recorded_at: Wed, 16 Mar 2022 15:00:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c494361c60153bc0ee6ed0c5b5c0e10acef35f4aee27cf408ec38f61934f5af"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/runs?page=2712&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4861'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '139'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":54227,"workflow_runs":[{"id":1993495043,"name":"Pact
        Contract Tests","node_id":"WFR_kwLOA7hKyc520lID","head_branch":"master","head_sha":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","run_number":14322,"event":"workflow_dispatch","status":"in_progress","conclusion":null,"workflow_id":8289333,"check_suite_id":5684072940,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABUswR7A","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1993495043","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-03-16T15:00:05Z","updated_at":"2022-03-16T15:00:28Z","actor":{"login":"va-vsp-bot","id":70344339,"node_id":"MDQ6VXNlcjcwMzQ0MzM5","avatar_url":"https://avatars.githubusercontent.com/u/70344339?v=4","gravatar_id":"","url":"https://api.github.com/users/va-vsp-bot","html_url":"https://github.com/va-vsp-bot","followers_url":"https://api.github.com/users/va-vsp-bot/followers","following_url":"https://api.github.com/users/va-vsp-bot/following{/other_user}","gists_url":"https://api.github.com/users/va-vsp-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/va-vsp-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/va-vsp-bot/subscriptions","organizations_url":"https://api.github.com/users/va-vsp-bot/orgs","repos_url":"https://api.github.com/users/va-vsp-bot/repos","events_url":"https://api.github.com/users/va-vsp-bot/events{/privacy}","received_events_url":"https://api.github.com/users/va-vsp-bot/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-03-16T15:00:05Z","triggering_actor":{"login":"va-vsp-bot","id":70344339,"node_id":"MDQ6VXNlcjcwMzQ0MzM5","avatar_url":"https://avatars.githubusercontent.com/u/70344339?v=4","gravatar_id":"","url":"https://api.github.com/users/va-vsp-bot","html_url":"https://github.com/va-vsp-bot","followers_url":"https://api.github.com/users/va-vsp-bot/followers","following_url":"https://api.github.com/users/va-vsp-bot/following{/other_user}","gists_url":"https://api.github.com/users/va-vsp-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/va-vsp-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/va-vsp-bot/subscriptions","organizations_url":"https://api.github.com/users/va-vsp-bot/orgs","repos_url":"https://api.github.com/users/va-vsp-bot/repos","events_url":"https://api.github.com/users/va-vsp-bot/events{/privacy}","received_events_url":"https://api.github.com/users/va-vsp-bot/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5684072940","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1993495043/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/8289333","head_commit":{"id":"0d6283a1bf4cae5ec6873440ef6e8e5f7bbf190b","tree_id":"6e5d51391420457cb852da14ac4ca4ea1578c558","message":"Attempted
        timezone fix to avoid daylight savings issues (#9350)","timestamp":"2022-03-15T20:34:49Z","author":{"name":"Laura
        Trager","email":"30485143+ElleeB@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20fca5c4c6a55a47045b4b6743f05cfc6ec188335b963583b18d7dd9d65dc5b0"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4860'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '140'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":15,"workflows":[{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build
        & Push to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T14:17:22.000-06:00","updated_at":"2021-09-28T14:23:54.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"},{"id":7346344,"node_id":"MDg6V29ya2Zsb3c3MzQ2MzQ0","name":"Build
        and Test","path":".github/workflows/build_and_test.yml","state":"active","created_at":"2021-03-31T08:34:12.000-06:00","updated_at":"2021-04-09T11:26:21.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7346344","html_url":"https://github.com/department-of-vetera[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79979ecab0e32a80d72c0714c25c27b86027e1e475da90906143e35ea[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/.github/workflows/code_checks.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc054bca1d3fb1c9976870b9c790b1225da9222a"
      Last-Modified:
      - Tue, 15 Mar 2022 20:34:49 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '142'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"code_checks.yml","path":".github/workflows/code_checks.yml","sha":"cc054bca1d3fb1c9976870b9c790b1225da9222a","size":6610,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/.github/workflows/code_checks.yml?ref=master","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/code_checks.yml","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs/cc054bca1d3fb1c9976870b9c790b1225da9222a","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-api/master/.github/workflows/code_checks.yml","type":"file","content":"bmFtZTogQ29kZSBDaGVja3MKb246IFtwdXNoXQpwZXJtaXNzaW9uczoKICBj\nb250ZW50czogcmVhZAogIGNoZWNrczogd3JpdGUKam9iczoKICBsaW50aW5n\nX2FuZF9zZWN1cml0eToKICAgIG5hbWU6IExpbnRpbmcgYW5kIFNlY3VyaXR5\nCiAgICBlbnY6CiAgICAgIEJVTkRMRV9FTlRFUlBSSVNFX19DT05UUklCU1lT\nX19DT006ICR7eyBzZWNyZXRzLkJVTkRMRV9FTlRFUlBSSVNFX19DT05UUklC\nU1lTX19DT00gfX0KICAgIHJ1bnMtb246IHVidW50dS0yMC4wNCAjIERvZXNu\nJ3QgcnVuIG9uIHNlbGYtaG9zdGVkIHJ1bm5lcnMgYXMgdGhlcmUgYXJlIFNT\nTCBpc3N1ZXMgd2l0aGluIHRoZSBUSUMKICAgIHN0ZXBzOgogICAgICAtIHVz\nZXM[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309/runs?branch&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37f74bb736863648c2907051ce[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4856'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '144'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Wed, 16 Mar 2022 15:00:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - W/"79979ecab0e32a80d72c0714c25c27b86027e1e475da90906143e35ea0a30844"
      Authorization:
      - token github_token
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - '"79979ecab0e32a80d72c0714c25c27b86027e1e475da90906143e35ea0a30844"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4841'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '159'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2022 15:06:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/code_checks.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79979ecab0e32a80d72c0714c25c27b86027e1e475da90906[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/.github/workflows/code_checks.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Modified-Since:
      - Tue, 15 Mar 2022 20:34:49 GMT
      If-None-Match:
      - W/"cc054bca1d3fb1c9976870b9c790b1225da9222a"
      Authorization:
      - token github_token
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - '"cc054bca1d3fb1c9976870b9c790b1225da9222a"'
      Last-Modified:
      - Tue, 15 Mar 2022 20:34:49 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4834'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '166'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2022 15:07:55 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7426309/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7006a1824ad779a58354c06b4f4f3959578ec16b4ca882025351a5b1ffb140de"
      X-Oauth-Scopes:
      - admin:org, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-07-07 20:28:26 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/workflows/7426309/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/workflows/7426309/runs?page=1055&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1654812582'
      X-Ratelimit-Use[...]
