---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzkyZDU5YmNiN2UxMGY3NTUyZjI6MzhkMWIyMWZmNzQ2OTFlNzI5ZmQ2ZDJkODFiODQ4MzU3NmQxZTE5YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cd100566f5e296697b9fdec08b503abea3adf54024984f9f41c596dc4b1996c"
      Last-Modified:
      - Mon, 28 Feb 2022 07:53:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1646166118'
      X-Ratelimit-Used:
      - '12'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-02-28T07:53:59Z","pushed_at":"2022-03-01T19:20:23Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":348084,"stargazers_count":116,"watchers_count":116,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":48,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":52,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":48,"open_issues":52,"watchers":116,"default_branch":"master","temp_clone_token":null,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":48,"subscribers_count":155}'
  recorded_at: Tue, 01 Mar 2022 19:29:43 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AppsController__GithubInfoQuery($owner: String!, $name:
        String!) {\n  repo: repository(owner: $owner, name: $name) {\n    open_issues:
        issues(states: OPEN) {\n      totalCount\n    }\n    branches: refs(first:
        0, refPrefix: \"refs/heads/\") {\n      totalCount\n    }\n    pull_requests:
        pullRequests(states: OPEN) {\n      totalCount\n    }\n    releases: releases
        {\n      totalCount\n    }\n    latest_release: latestRelease {\n      name\n    }\n  }\n}","variables":{"owner":"department-of-veterans-affairs","name":"vets-api"},"operationName":"AppsController__GithubInfoQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1646166457'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repo":{"open_issues":{"totalCount":21},"branches":{"totalCount":476},"pull_requests":{"totalCount":31},"releases":{"totalCount":1090},"latest_release":{"name":"vets-api/v0.0.1090"}}}}'
  recorded_at: Tue, 01 Mar 2022 19:29:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzkyZDU5YmNiN2UxMGY3NTUyZjI6MzhkMWIyMWZmNzQ2OTFlNzI5ZmQ2ZDJkODFiODQ4MzU3NmQxZTE5YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e780c16ce244bdb6e8efaec0a022cc3aff6a421bd3bb1463a3bc75171dca9a7"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/releases?per_page=20&page=2>;
        rel="next", <https://api.github.com/repositories/62409417/releases?per_page=20&page=55>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1646166118'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases/60643501","assets_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases/60643501/assets","upload_url":"https://uploads.github.com/repos/department-of-veterans-affairs/vets-api/releases/60643501/assets{?name,label}","html_url":"https://github.com/department-of-veterans-affairs/vets-api/releases/tag/vets-api/v0.0.1090","id":60643501,"author":{"login":"va-bot","id":16944030,"node_id":"MDQ6VXNlcjE2OTQ0MDMw","avatar_url":"https://avatars.githubusercontent.com/u/16944030?v=4","gravatar_id":"","url":"https://api.github.com/users/va-bot","html_url":"https://github.com/va-bot","followers_url":"https://api.github.com/users/va-bot/followers","following_url":"https://api.github.com/users/va-bot/following{/other_user}","gists_url":"https://api.github.com/users/va-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/va-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/va-bot/subscriptions","organizations_url":"https://api.github.com/users/va-bot/orgs","repos_url":"https://api.github.com/users/va-bot/repos","events_url":"https://api.github.com/users/va-bot/events{/privacy}","received_events_url":"https://api.github.com/users/va-bot/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOA7hKyc4DnVit","tag_name":"vets-api/v0.0.1090","target_commitish":"7d46a45c423fd722f267fb28d9b51b4774bf7535","name":"vets-api/v0.0.1090","draft":false,"prerelease":false,"created_at":"2022-02-28T16:32:04Z","published_at":"2022-02-28T20:00:55Z","assets":[],"tarball_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tarball/vets-api/v0.0.1090","zipball_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/zipball/vets-api/v0.0.1090","body":"Release
        0.0.1090 ami-0d35e6baebbe1a792 \n\n**e0770e2**  2646 mobile update maintenance
        window service map (#9225)\n\n* add payment history to mobile maintenance
        window service map\n\n**8b1ffd9**  2440 appointment request schema (#9226)\n\n*
        2440: mobile appointment request schema\n\n**b9e8abc**  Fix email printing
        on extra page (#9229)\n\n**7d46a45**  [...]
