<%# 404 Template from https://tailwindui.com/components/marketing/feedback/404-pages#component-9e31dc71bccd709e04de0ed11a1328b0 %>
<main class="min-h-full bg-cover bg-top sm:bg-top" style="background-image: url('https://images.unsplash.com/photo-1545972154-9bb223aac798?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3050&q=80&exp=8&con=-15&sat=-75');">
  <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
    <p class="text-sm font-semibold text-black text-opacity-50 uppercase tracking-wide">Platform Console</p>
    <h1 class="mt-2 text-4xl font-extrabold text-white tracking-tight sm:text-5xl">Welcome to the Platform Console.</h1>
    <% if current_user.present? %>
      <p class="mt-2 text-lg font-medium text-black text-opacity-50">
        Hi <%= current_user.name %>! There's nothing for you to do yet.
      </p>
      <div class="mt-6">
        <a href="/logout" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black text-opacity-75 bg-white bg-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50">
          Log Out
        </a>
      </div>
    <% else %>
      <p class="mt-2 text-lg font-medium text-black text-opacity-50">Please login to continue.</p>
      <div class="mt-6">
        <a href="/login" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black text-opacity-75 bg-white bg-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50">
          Log In
        </a>
      </div>
      <% if Flipper.enabled? :keycloak_login %>
        <div class="mt-6">
          <a href='/auth/keycloak' class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black text-opacity-75 bg-white bg-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50">
            Sign In Keycloak
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</main>
