<div class="flex justify-between">
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-4">
    Workflows
  </h1>
</div>

<br>


<%= render 'git_hub/tabs' %>
<%= render 'git_hub/workflows/dashboard', all_workflows: @all_workflows , current_workflow: @git_hub_workflow.gh_info, workflow_runs: @git_hub_workflow_runs %>
