---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6159265ec74ac84400fbfba2714b447fd552cd8d6a00a839f6a1b368fe12b2d"
      Last-Modified:
      - Mon, 31 Jan 2022 16:09:41 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4802'
      X-Ratelimit-Reset:
      - '1644937665'
      X-Ratelimit-Used:
      - '198'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10","id":823005298,"node_id":"PR_kwDOGrBsB84xDhBy","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/10","diff_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/10.diff","patch_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/10.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/10","number":10,"state":"closed","locked":false,"title":"Add
        strong_migrations","user":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"body":"This
        PR adds the strong migrations gem to catch unsafe migrations. The initializer
        was created via the `rails generate strong_migrations:install` command","created_at":"2022-01-14T18:59:39Z","updated_at":"2022-01-31T16:09:41Z","closed_at":"2022-01-18T15:26:27Z","merged_at":"2022-01-18T15:26:27Z","merge_commit_sha":"1ef01ff884e86caf5ce119c795abaeedbcf54ad1","assignee":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"assignees":[{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":3784738911,"node_id":"LA_kwDOGrBsB87hlohf","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels/released","name":"released","color":"ededed","default":false,"description":null}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10/commits","review_comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10/comments","review_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments{/number}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/10/comments","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/5839dec28e87d4446aaf9a2ace6f687b029dc331","head":{"label":"department-of-veterans-affairs:lhattamer-add-strong-migrations","ref":"lhattamer-add-strong-migrations","sha":"5839dec28e87d4446aaf9a2ace6f687b029dc331","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"repo":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-02-15T14:51:58Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":1495,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":15,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":15,"watchers":0,"default_branch":"master"}},"base":{"label":"department-of-veterans-affairs:master","ref":"master","sha":"e13ac1aca79bd3c133681fa76e068b869046b0bd","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veter[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10/merge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4801'
      X-Ratelimit-Reset:
      - '1644937665'
      X-Ratelimit-Used:
      - '199'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Feb 2022 14:53:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?branch=lhattamer-add-strong-migrations&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbbfabced8c55aaed9f131109bc36da05e89fe8b486e1e74d137080f0322848f"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4800'
      X-Ratelimit-Reset:
      - '1644937665'
      X-Ratelimit-Used:
      - '200'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":16,"workflow_runs":[{"id":1713481259,"name":"CodeQL","node_id":"WFR_kwLOGrBsB85mIaYr","head_branch":"lhattamer-add-strong-migrations","head_sha":"5839dec28e87d4446aaf9a2ace6f687b029dc331","run_number":55,"event":"pull_request","status":"completed","conclusion":"success","workflow_id":17929736,"check_suite_id":4975509687,"check_suite_node_id":"CS_kwDOGrBsB88AAAABKJBAtw","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259","pull_requests":[],"created_at":"2022-01-18T15:24:53Z","updated_at":"2022-01-18T15:26:55Z","run_attempt":1,"run_started_at":"2022-01-18T15:24:53Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/4975509687","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1713481259/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","head_commit":{"id":"5839dec28e87d4446aaf9a2ace6f687b029dc331","tree_id":"f9f967fc74e901662a11e098abb004fb2e490a08","message":"Add
        strong migrations gem","timestamp":"2022-01-18T15:24:44Z","author":{"name":"Lindsey
        Hattamer","email":"lindsey.hattamer@oddball.io"},"committer":{"name":"Eric
        Boehs","email":"eric@boehs.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e7c38210b4f905f719207d9de8eb1a7f988a342fa384715410af239c9c3c685"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/pulls?page=2&per_page=20>; rel="next",
        <https://api.github.com/repositories/62409417/pulls?page=2&per_page=20>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4799'
      X-Ratelimit-Reset:
      - '1644937665'
      X-Ratelimit-Used:
      - '201'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3sidXJsIjoiaHR0cHM6Ly9hcGkuZ2l0aHV[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10/comments?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4d228a56a3f1cc59d12980db3585ad80bcb2f6bbe69cf053e000dca94f1cbfb"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4798'
      X-Ratelimit-Reset:
      - '1644937665'
      X-Ratelimit-Used:
      - '202'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments/785160662","pull_request_review_id":853368172,"id":785160662,"node_id":"PRRC_kwDOGrBsB84uzJnW","diff_hunk":"@@
        -6,11 +6,12 @@ ruby ''~> 3.1.0''\n \n gem ''rails'', ''~> 7.0.1''\n \n-gem
        ''bootsnap'', ''~> 1.9'', require: false # Reduces boot times through caching;
        required in config/boot.rb\n-gem ''jbuilder'', ''~> 2.11'' # Build JSON APIs
        with ease [https://github.com/rails/jbuilder]\n-gem ''pg'',       ''~> 1.1''  #
        Use postgresql as the database for Active Record\n-gem ''puma'',     ''~>
        5.0''  # Use the Puma web server [https://github.com/puma/puma]\n-gem ''redis'',    ''~>
        4.0''  # Use Redis adapter to run Action Cable in production\n+gem ''bootsnap'',          ''~>
        1.9'', require: false # Reduces boot times through caching; required in config/boot.rb\n+gem
        ''jbuilder'',          ''~> 2.11'' # Build JSON APIs with ease [https://github.com/rails/jbuilder]\n+gem
        ''pg'',                ''~> 1.1''  # Use postgresql as the database for Active
        Record\n+gem ''puma'',              ''~> 5.0''  # Use the Puma web server
        [https://github.com/puma/puma]\n+gem ''redis'',             ''~> 4.0''  #
        Use Redis adapter to run Action Cable in production\n+gem ''strong_migrations'',
        ''~> 0.7''","path":"Gemfile","position":null,"original_position":14,"commit_id":"5839dec28e87d4446aaf9a2ace6f687b029dc331","original_commit_id":"7b73dadfd9c3a6d204ba02800c71c1c736e7792e","user":{"login":"ericboehs","id":28198,"node_id":"MDQ6VXNlcjI4MTk4","avatar_url":"https://avatars.githubusercontent.com/u/28198?v=4","gravatar_id":"","url":"https://api.github.com/users/ericboehs","html_url":"https://github.com/ericboehs","followers_url":"https://api.github.com/users/ericboehs/followers","following_url":"https://api.github.com/users/ericboehs/following{/other_user}","gists_url":"https://api.github.com/users/ericboehs/gists{/gist_id}","starred_url":"https://api.github.com/users/ericboehs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ericboehs/subscriptions","organizations_url":"https://api.github.com/users/ericboehs/orgs","repos_url":"https://api.github.com/users/ericboehs/repos","events_url":"https://api.github.com/users/ericboehs/events{/privacy}","received_events_url":"https://api.github.com/users/ericboehs/received_events","type":"User","site_admin":false},"body":"Add
        a description comment beside this. I usually re-word/summarize their rubygems.org
        description.","created_at":"2022-01-14T20:46:10Z","updated_at":"2022-01-14T20:46:10Z","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/10#discussion_r785160662","pull_request_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10","author_association":"MEMBER","_links":{"self":{"href":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments/785160662"},"html":{"href":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/10#discussion_r785160662"},"pull_request":{"href":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/10"}},"reactions":{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments/785160662/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"start_line":null,"original_start_line":null,"start_side":null,"line":null,"original_line":14,"side":"RIGHT"},{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments/785160947","pull_request_review_id":853368619,"id":785160947,"node_id":"PRRC_kwDOGrBsB84uzJrz","diff_hunk":"@@
        -0,0 +1,28 @@\n+# frozen_string_literal: true\n+\n+# Mark existing migrations
        as safe\n+StrongMigrations.start_after = 20_220_114_185_454","path":"config/initializers/strong_migrations.rb","position":null,"original_position":4,"commit_id":"5839dec28e87d4446aaf[...]
