---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"299054aebff2e7a9dbabd9bb9df3abcc2074458edae5428415baac3a8e60375a"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1644389859'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build & Push
        to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T20:17:22.000Z","updated_at":"2021-09-28T20:23:54.000Z","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"}'
  recorded_at: Wed, 09 Feb 2022 05:57:39 GMT
recorded_with: VCR 6.0.0
