---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"299054aebff2e7a9dbabd9bb9df3abcc2074458edae5428415baac3a8e60375a"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1644389859'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build & Push
        to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T20:17:22.000Z","updated_at":"2021-09-28T20:23:54.000Z","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"}'
  recorded_at: Wed, 09 Feb 2022 05:57:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388/runs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84f904e5e5039f153fd2c6fbaf0c6dc121b0ac84c980d1a660051226ec465f10"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/workflows/13418388/runs?page=2>;
        rel="next", <https://api.github.com/repositories/62409417/actions/workflows/13418388/runs?page=30>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4901'
      X-Ratelimit-Reset:
      - '1644427240'
      X-Ratelimit-Used:
      - '99'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":893,"workflow_runs":[{"id":1819256020,"name":"Build
        & Push to ECR","node_id":"WFR_kwLOA7hKyc5sb6TU","head_branch":"master","head_sha":"678c98193e9cd68f20d1c84c0697bce1d8d5820e","run_number":893,"event":"workflow_run","status":"completed","conclusion":"success","workflow_id":13418388,"check_suite_id":5237770687,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABODIJvw","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1819256020","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"6fd419fcb825d4bfad52417820a7a794a5f9dbf5","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-02-09T16:39:01Z","updated_at":"2022-02-09T16:45:15Z","run_attempt":1,"run_started_at":"2022-02-09T16:39:01Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5237770687","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819256020/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","head_commit":{"id":"678c98193e9cd68f20d1c84c0697bce1d8d5820e","tree_id":"ac363473ae9e4deb5b75c8bffefba0fb3eedc3b2","message":"(toggle)
        added new feature toggles for Check In Experience (#9072)","timestamp":"2022-02-09T16:32:51Z","author":{"name":"Mark
        Dewey","email":"mdewey@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments"},"head_repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c30705d2e0f42f39929488054482f765b7d8d18674c4b95175c5ceefd3d5e95e"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1644427240'
      X-Ratelimit-Used:
      - '103'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":13,"workflows":[{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build
        & Push to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T14:17:22.000-06:00","updated_at":"2021-09-28T14:23:54.000-06:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-a[...]
