---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd22e395f54f1f6e4bb30060fbd7611f6557a8366b0f804e44998a2e7ac66946"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?page=2>; rel="next",
        <https://api.github.com/repositories/62409417/actions/runs?page=1531>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4883'
      X-Ratelimit-Reset:
      - '1644430864'
      X-Ratelimit-Used:
      - '117'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":45920,"workflow_runs":[{"id":1819616489,"name":"Danger","node_id":"WFR_kwLOA7hKyc5sdSTp","head_branch":"36596_add_cognito_login_gov_oidc_proxy","head_sha":"9aba06a9f33e62c4ec5cfa4959953f5ff4a32d5b","run_number":7500,"event":"pull_request","status":"completed","conclusion":"success","workflow_id":8796294,"check_suite_id":5238800499,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABOEHAcw","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1819616489","pull_requests":[{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/9071","id":843399355,"number":9071,"head":{"ref":"36596_add_cognito_login_gov_oidc_proxy","sha":"9aba06a9f33e62c4ec5cfa4959953f5ff4a32d5b","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"6fd419fcb825d4bfad52417820a7a794a5f9dbf5","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}}}],"created_at":"2022-02-09T17:54:56Z","updated_at":"2022-02-09T17:55:42Z","run_attempt":1,"run_started_at":"2022-02-09T17:54:56Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5238800499","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819616489/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/8796294","head_commit":{"id":"9aba06a9f33e62c4ec5cfa4959953f5ff4a32d5b","tree_id":"29620257578467e52f48f54306cac4981568926f","message":"[36596]
        Adding Proxy route for staging/dev between cognito and login.gov OIDC interface","timestamp":"2022-02-09T17:54:44Z","author":{"name":"Trevor
        Bosaw","email":"trevor.bosaw@oddball.io"},"committer":{"name":"Trevor Bosaw","email":"trevor.bosaw@oddball.io"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments"},"head_repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819296861
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de9acff56b79d70eda15e1dce72b3d5204573b2ccbe01a60bb9d9652b92857f3"
      X-Oauth-Scopes:
      - read:org, r[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1819296861/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/fu96GOJleFsryGAthC19eocndqQLJsouxGK8ssvNvGWTMO2pLp/_apis/pipelines/1/runs/47923/signedlogcontent?urlExpires=2022-02-09T18%3A00%3A02.6646875Z&urlSigningMethod=HMACV1&urlSignature=6wumHAznbBpQRf9s1Yu4hjjnQ6XRyS217skxWUzeFI4%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4881'
      X-Ratelimit-Reset:
      - '1644430864'
      X-Ratelimit-Used:
      - '119'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Feb 2022 17:59:02 GMT
- request:
    method: get
    uri: https://pipelines.actions.githubusercontent.com/fu96GOJleFsryGAthC19eocndqQLJsouxGK8ssvNvGWTMO2pLp/_apis/pipelines/1/runs/47923/signedlogcontent?urlExpires=2022-02-09T18:00:02.6646875Z&urlSignature=6wumHAznbBpQRf9s1Yu4hjjnQ6XRyS217skxWUzeFI4=&urlSigningMethod=HMACV1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/zip
      X-Tfs-Processid:
      - 5ca00fee-d3d8-4056-a0b4-a829e8ec8899
      Activityid:
      - 9a47365f-3209-4751-bd92-64ffa14084ad
      X-Tfs-Session:
      - 9a47365f-3209-4751-bd92-64ffa14084ad
      X-Vss-E2eid:
      - 9a47365f-3209-4751-bd92-64ffa14084ad
      X-Vss-Senderdeploymentid:
      - 13a19993-c6bc-326c-afb4-32c5519f46f0
      Content-Disposition:
      - attachment; filename=logs_47923.zip; filename*=UTF-8''logs_47923.zip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        UEsDBBQACAAIAGGPSVQAAAAAAAAAAAAAAAAvAAAAUGFjdCBDb250cmFjdCBUZXN0cy8yX0luaXRpYWxpemUgY29udGFpbmVycy50eHTcWmuPG7cV/V6g/2HgfEgbVFq+HwtsAccbJAaKxsg6DeAiWHBIzu40ekUzsmsY+997ONI+NNJoZuJuPgQ2LEPiuZe8JC/vOSQjjE0I/tq3VJ0LfS71VEttrNbvsi+++PfNerlZ/fzqNvpfysVNFpb+l7jO3sd1VS4Xf/4TOwq33AjawP1yPneL8PPZplqf5eXibN9ANpkUy/Xc1dmXnz5Nr+Ia309fvnn9r+3Pd3dfHndhjVJUqnfZl3Qq[...]
