@tailwind base;
@tailwind components;
@tailwind utilities;

.pagy-info {
  @apply mt-5 py-2;
}

.pagy-nav {
  @apply -space-x-px mt-3 py-2 inline-flex items-center divide-gray-100 divide-x;
}

.pagy-nav .page.prev,
.pagy-nav .page.next {
  @apply border-gray-100
}

.pagy-nav .page.prev {
  @apply rounded-l-md border-l;
}

.pagy-nav .page.next {
  @apply rounded-r-md border-r;
}

.pagy-nav .page {
  @apply border-t border-b text-blue-900 inline-flex;
}

/* Make click areas bigger */
.pagy-nav .page a,
.pagy-nav .page .gap {
  @apply px-4 py-2;
}

/* Subtle hover on clickable elements */
.pagy-nav a {
  @apply hover:bg-gray-50;
}

/* Disabled looking elements */
.pagy-nav .gap,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled {
  @apply px-4 py-2 text-gray-300 cursor-default;
}

/* Cover up surrounding border using z-index */
.pagy-nav .page.active {
  @apply z-10 border px-4 py-2 border-blue-900 bg-blue-50 cursor-default;
}

/* Only show Prev/Next */
.pagy-nav [class="page"],
.pagy-nav .gap,
.pagy-nav .page.active {
  @apply hidden sm:inline-flex;
}

.pagy-info {
  @apply hidden sm:inline-block;
}

.group:focus .group-focus\:flex {
  display: flex;
}

.max-w-xs {
max-width: 20rem;
}

.text-purple-lighter {
  color: #d6bbfc;
}

.bg-indigo-darker {
  background-color: #4a154b!important;
}

.text-white {
  color: #fff;
}

.mb-4 {
  margin-bottom: 1rem;
}

.items-start {
  -webkit-box-align: start;
  align-items: flex-start;
}
.flex-1 {
  -webkit-box-flex: 1;
  flex: 1;
  }

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.overflow-y-scroll {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}
