---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4701'
      X-Ratelimit-Reset:
      - '1646930769'
      X-Ratelimit-Used:
      - '299'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-10T16:41:13Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2273,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":14,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":14,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Thu, 10 Mar 2022 16:41:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74c893286e0b4562a36903f7d1fc0f3fac68ff21b661f1728501dd81de5027a8"
      Last-Modified:
      - Thu, 10 Mar 2022 16:32:03 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4700'
      X-Ratelimit-Reset:
      - '1646930769'
      X-Ratelimit-Used:
      - '300'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"REF_kwDOGrBsB7FyZWZzL2hlYWRzL21hc3Rlcg","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs/heads/master","object":{"sha":"81e002a0c9ad3486a654b623f23e548d83d71c8d","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits/81e002a0c9ad3486a654b623f23e548d83d71c8d"}}'
  recorded_at: Thu, 10 Mar 2022 16:41:20 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gha-add-deploy-template-workflow","sha":"81e002a0c9ad3486a654b623f23e548d83d71c8d"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"46847691416d3b614f31d6033f55a36f8d3a04d8b33e595796e4d53a7b8e9ba7"'
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs/heads/gha-add-deploy-template-workflow
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4699'
      X-Ratelimit-Reset:
      - '1646930769'
      X-Ratelimit-Used:
      - '301'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gha-add-deploy-template-workflow","node_id":"REF_kwDOGrBsB9oAK3JlZnMvaGVhZHMvZ2hhLWFkZC1kZXBsb3ktdGVtcGxhdGUtd29ya2Zsb3c","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs/heads/gha-add-deploy-template-workflow","object":{"sha":"81e002a0c9ad3486a654b623f23e548d83d71c8d","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits/81e002a0c9ad3486a654b623f23e548d83d71c8d"}}'
  recorded_at: Thu, 10 Mar 2022 16:41:20 GMT
- request:
    method: put
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/.github/workflows/deploy-template_demo.yml
    body:
      encoding: UTF-8
      string: '{"branch":"gha-add-deploy-template-workflow","content":"bmFtZTogRGVwbG95IFRlbXBsYXRlIERlbW8Kb246CiAgd29ya2Zsb3dfZGlzcGF0Y2g6CiAgICBpbnB1dHM6CiAgICAgIGVudmlyb25tZW50OgogICAgICAgIGRlc2NyaXB0aW9uOiBUaGUgZW52aXJvbm1lbnQgdG8gZGVwbG95IHRvLgogICAgICAgIHJlcXVpcmVkOiB0cnVlCiAgICAgICAgZGVmYXVsdDogcHJvZHVjdGlvbgpqb2JzOgogIERlcGxveToKICAgIHJ1bnMtb246IHVidW50dS1sYXRlc3QKICAgIHN0ZXBzOgogICAgICAtIG5hbWU6IFNldHVwIGRlcGxveQogICAgICAgIHJ1bjogZWNobyAi8J+ZjCBEZXBsb3lpbmcgJHt7IGdpdGh1Yi5yZXBvc2l0b3J5IH19IHRvICR7eyBnaXRodWIuZXZlbnQuaW5wdXRzLmVudmlyb25tZW50IH19IGZyb20gJHt[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"gha-add-deploy-template-workflow","title":"Add
        deploy-template_demo.yml workflow file"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"92fec47ad3961c125dfe3aa05f09e5e81e64b1cd6b03ca6670858e9edb75e596"'
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/169
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4697'
      X-Ratelimit-Reset:
      - '1646930769'
      X-Ratelimit-Used:
      - '303'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/169","id":876616787,"node_id":"PR_kwDOGrBsB840QBxT","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/169","diff_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/169.diff","patch_url":"https://github.com/department-of-veterans-affairs/platform-console-api/pull/169.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/169","number":169,"state":"open","locked":false,"title":"Add
        deploy-template_demo.yml workflow file","user":{"login":"va-vsp-bot","id":70344339,"node_id":"MDQ6VXNlcjcwMzQ0MzM5","avatar_url":"https://avatars.githubusercontent.com/u/70344339?v=4","gravatar_id":"","url":"https://api.github.com/users/va-vsp-bot","html_url":"https://github.com/va-vsp-bot","followers_url":"https://api.github.com/users/va-vsp-bot/followers","following_url":"https://api.github.com/users/va-vsp-bot/following{/other_user}","gists_url":"https://api.github.com/users/va-vsp-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/va-vsp-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/va-vsp-bot/subscriptions","organizations_url":"https://api.github.com/users/va-vsp-bot/orgs","repos_url":"https://api.github.com/users/va-vsp-bot/repos","events_url":"https://api.github.com/users/va-vsp-bot/events{/privacy}","received_events_url":"https://api.github.com/users/va-vsp-bot/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-03-10T16:41:22Z","updated_at":"2022-03-10T16:41:22Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/169/commits","review_comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/169/comments","review_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/comments{/number}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/169/comments","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/16ab4c422f9d9b0e385dfe68147db390972a3175","head":{"label":"department-of-veterans-affairs:gha-add-deploy-template-workflow","ref":"gha-add-deploy-template-workflow","sha":"16ab4c422f9d9b0e385dfe68147db390972a3175","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"repo":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
