---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"319b04055ecac1d8bc656a940fb48580b3bfaf10074d806e34107bf392133465"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/runs?page=219&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '42'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4374,"workflow_runs":[{"id":2571983752,"name":"Release
        and Update Manifests","node_id":"WFR_kwLOGrBsB86ZTVuI","head_branch":"master","head_sha":"48fd637d7599efb1070437b19d2ecadb5e59f7d3","path":".github/workflows/deploy.yml","run_number":985,"event":"workflow_run","status":"completed","conclusion":"success","workflow_id":17962379,"check_suite_id":7115085652,"check_suite_node_id":"CS_kwDOGrBsB88AAAABqBeXVA","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752","pull_requests":[],"created_at":"2022-06-27T20:49:56Z","updated_at":"2022-06-27T20:51:21Z","actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"run_attempt":1,"referenced_workflows":[{"path":"department-of-veterans-affairs/platform-console-api/.github/workflows/deploy-template.yml@master","sha":"48fd637d7599efb1070437b19d2ecadb5e59f7d3","ref":"refs/heads/master"}],"run_started_at":"2022-06-27T20:49:56Z","triggering_actor":{"login":"jhwuz","id":25186448,"node_id":"MDQ6VXNlcjI1MTg2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/25186448?v=4","gravatar_id":"","url":"https://api.github.com/users/jhwuz","html_url":"https://github.com/jhwuz","followers_url":"https://api.github.com/users/jhwuz/followers","following_url":"https://api.github.com/users/jhwuz/following{/other_user}","gists_url":"https://api.github.com/users/jhwuz/gists{/gist_id}","starred_url":"https://api.github.com/users/jhwuz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jhwuz/subscriptions","organizations_url":"https://api.github.com/users/jhwuz/orgs","repos_url":"https://api.github.com/users/jhwuz/repos","events_url":"https://api.github.com/users/jhwuz/events{/privacy}","received_events_url":"https://api.github.com/users/jhwuz/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/7115085652","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2571983752/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17962379","head_commit":{"id":"48fd637d7599efb1070437b19d2ecadb5e59f7d3","tree_id":"2de54ff33b8d732945948b2b381d11038c5adeb6","message":"fix:
        bump pg from 1.4.0 to 1.4.1\n\nBumps [pg](https://github.com/ged/ruby-pg)
        from 1.4.0 to 1.4.1.\n- [Release notes](https://github.com/ged/ruby-pg/releases)\n-
        [Changelog](https://github.com/ged/ruby-pg/blob/master/History.rdoc)\n- [Commits](https://github.com/ged/ruby-pg/compare/v1.4.0...v1.4.1)\n\n---\nupdated-dependencies:\n-
        dependency-name: pg\n  dependency-type: direct:production\n  update-type:
        version-update:semver-patch\n...\n\nSigned-off-by: dependabot[bot] <support@github.com>","timestamp":"2022-06-27T14:05:37Z","author":{"name":"dependabot[bot]","email":"49699333+dependabot[bot]@users.noreply.github.com"},"committer":{"name":"dependabot[bot]","email":"49699333+dependabot[bot]@users.noreply.github.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments"},"head_repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d868e0f6fa3f592452527639f1dc86575ad6fe975b6c1e8191a6b00d52b7aec6"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '43'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":9,"workflows":[{"id":17919887,"node_id":"W_kwDOGrBsB84BEW-P","name":"Code
        Checks","path":".github/workflows/code_checks.yml","state":"active","created_at":"2022-01-13T15:45:24.000-08:00","updated_at":"2022-01-14T06:42:12.000-08:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/code_checks.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/Code%20Checks/badge.svg"},{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T21:05:58.000-08:00","updated_at":"2022-02-23T23:23:42.000-08:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platfor[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows//dispatches
    body:
      encoding: UTF-8
      string: '{"ref":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '44'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Mon, 27 Jun 2022 22:06:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471421620/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb3d22684f915c6bcfb943226dbc33fe4c187f671e857b36e0361e46ca5ec070"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"jobs":[{"id":7082127662,"run_id":2471421620,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471421620","run_attempt":4,"node_id":"CR_kwDOGrBsB88AAAABpiCxLg","head_sha":"de1c45039b8dfa76c91b8fe7b419a43270a5f43c","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/7082127662","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/7082127662?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-06-27T21:59:36Z","completed_at":"2022-06-27T21:59:37Z","name":"deploy
        / prepare-values","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-06-27T14:59:35.000-07:00","completed_at":"2022-06-27T14:59:36.000-07:00"},{"name":"Set
        to auto deploy environments on push to master","status":"completed","conclusion":"success","number":2,"started_at":"2022-06-27T14:59:36.000-07:00","completed_at":"2022-06-27T14:59:36.000-07:00"},{"name":"Set
        output","status":"completed","conclusion":"success","number":3,"started_at":"2022-06-27T14:59:36.000-07:00","completed_at":"2022-06-27T14:59:36.000-07:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":4,"started_at":"2022-06-27T14:59:36.000-07:00","completed_at":"2022-06-27T14:59:36.000-07:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-runs/7082127662","labels":["ubuntu-20.04"],"runner_id":4,"runner_name":"GitHub
        Actions 4","runner_group_id":2,"runner_group_name":"GitHub Actions"},{"id":7082130050,"run_id":2471421620,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471421620","run_attempt":4,"node_id":"CR_kwDOGrBsB88AAAABpiC6gg","head_sha":"de1c45039b8dfa76c91b8fe7b419a43270a5f43c","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/7082130050","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/7082130050?check_su[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2471421620/rerun
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5c0a87842961699736213b54496dd3b70ec35a7ba142c8bcc3e537902f64b877"'
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '46'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 27 Jun 2022 22:06:08 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/invalid_id/rerun
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1656370237'
      X-Ratelimit-Used:
      - '47'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Mon, 27 Jun 2022 22:06:08 GMT
recorded_with: VCR 6.1.0
