---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/7115360258
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67dcbedffcb9010df01803803d6b513f7a3f66a6ed16fdbe43dda04625e8babc"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4874'
      X-Ratelimit-Reset:
      - '1656524272'
      X-Ratelimit-Used:
      - '126'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":7115360258,"run_id":2584147683,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/2584147683","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABqBvIAg","head_sha":"24a4854401b8fbaaa0037a09c1e970dd2993d63a","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/7115360258","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/7115360258?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-06-29T15:42:56Z","completed_at":"2022-06-29T15:43:37Z","name":"Linting
        and Security","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-06-29T08:42:55.000-07:00","completed_at":"2022-06-29T08:42:57.000-07:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":2,"started_at":"2022-06-29T08:42:57.000-07:00","completed_at":"2022-06-29T08:42:58.000-07:00"},{"name":"Run
        ruby/setup-ruby@v1","status":"completed","conclusion":"success","number":3,"started_at":"2022-06-29T08:42:59.000-07:00","completed_at":"2022-06-29T08:43:25.000-07:00"},{"name":"Run
        bundl[...]
