---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d868e0f6fa3f592452527639f1dc86575ad6fe975b6c1e8191a6b00d52b7aec6"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1656524272'
      X-Ratelimit-Used:
      - '105'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":9,"workflows":[{"id":17919887,"node_id":"W_kwDOGrBsB84BEW-P","name":"Code
        Checks","path":".github/workflows/code_checks.yml","state":"active","created_at":"2022-01-13T15:45:24.000-08:00","updated_at":"2022-01-14T06:42:12.000-08:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/code_checks.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/Code%20Checks/badge.svg"},{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T21:05:58.000-08:00","updated_at":"2022-02-23T23:23:42.000-08:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platfor[...]
