---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4737'
      X-Ratelimit-Reset:
      - '1646258719'
      X-Ratelimit-Used:
      - '263'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-02T21:19:47Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":1885,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":10,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":10,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"advanced_security":{"status":"disabled"},"secret_scanning":{"status":"enabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Wed, 02 Mar 2022 21:52:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/codeql.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ddfce2afd66dc4ff8e91c4a5e16c008325f0f10dae31144ccf9bed2846d8e812"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4736'
      X-Ratelimit-Reset:
      - '1646258719'
      X-Ratelimit-Used:
      - '264'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T22:05:58.000-07:00","updated_at":"2022-02-24T00:23:42.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/codeql.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/CodeQL/badge.svg"}'
  recorded_at: Wed, 02 Mar 2022 21:52:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81edd35d0d98cff8c31bd9c54213fdfcc748971b4e0224fd07dfd070a91af744"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/workflows/17929736/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/workflows/17929736/runs?page=28&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4735'
      X-Ratelimit-Reset:
      - '1646258719'
      X-Ratelimit-Used:
      - '265'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":549,"workflow_runs":[{"id":1924702232,"name":"CodeQL","node_id":"WFR_kwLOGrBsB85yuKAY","head_branch":"connect-app-to-github","head_sha":"33d3a6a83c6382e8beab2c483230240ef6b9be11","run_number":549,"event":"pull_request","status":"completed","conclusion":"success","workflow_id":17929736,"check_suite_id":5512422192,"check_suite_node_id":"CS_kwDOGrBsB88AAAABSJDjMA","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232","pull_requests":[{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/73","id":839400834,"number":73,"head":{"ref":"connect-app-to-github","sha":"33d3a6a83c6382e8beab2c483230240ef6b9be11","repo":{"id":447769607,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","name":"platform-console-api"}},"base":{"ref":"master","sha":"5d9c2a1aca1e908ab5198a553502f0ae9eb35b4d","repo":{"id":447769607,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","name":"platform-console-api"}}}],"created_at":"2022-03-02T21:19:49Z","updated_at":"2022-03-02T21:21:25Z","run_attempt":1,"run_started_at":"2022-03-02T21:19:49Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5512422192","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","head_commit":{"id":"33d3a6a83c6382e8beab2c483230240ef6b9be11","tree_id":"8c8f2d46b0f8014104b4bac3f85d9f8b491e4e00","message":"update
        selector for tests","timestamp":"2022-03-02T21:19:43Z","author":{"name":"Jeremy
        Wu","email":"jhwuz@users.noreply.github.com"},"committer":{"name":"Jeremy
        Wu","email":"jhwuz@users.noreply.github.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/1750/signedlogcontent?urlExpires=2022-03-02T21%3A53%3A41.7626317Z&urlSigningMethod=HMACV1&urlSignature=2GM6w146HqCleMFaMuomHlGfnbb2WG6g5NeOqPuXigU%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4732'
      X-Ratelimit-Reset:
      - '1646258719'
      X-Ratelimit-Used:
      - '268'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2022 21:52:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"144d3b89f47ed9f9e8abe551ef35912b10e6ec37642e5e8[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"318a2d5de412c35ffdd52e68540fe0d13846546df7f46a1f09a1a660a84ad853"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4730'
      X-Ratelimit-Reset:
      - '1646258719'
      X-Ratelimit-Used:
      - '270'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"jobs":[{"id":5398500665,"run_id":1924702232,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1924702232","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABQcaVOQ","head_sha":"33d3a6a83c6382e8beab2c483230240ef6b9be11","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5398500665","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5398500665?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-03-02T21:19:57Z","completed_at":"2022-03-02T21:21:23Z","name":"Analyze","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-03-02T14:19:57.000-07:00","completed_at":"2022-03-02T14:20:01.000-07:00"},{"name":"Checkout
        repository","status":"completed","conclusion":"success","number":2,"started_at":"2022-03-02T14:20:01.000-07:00","completed_at":"2022-03-02T14:20:02.000-07:00"},{"name":"Initialize
        CodeQL","status":"completed","conclusion":"success","number":3,"started_at":"2022-03-02T14:20:02.000-07:00","completed_at":"2022-03-02T14:20:08.000-07:00"},{"name":"Autobuild","status":"completed","conclusion":"success","number":4,"started_at":"2022-03-02T14:20:08.000-07:00","completed_at":"2022-03-02T14:20:09.000-07:00"},{"name":"Perform
        CodeQL Analysis","status":"completed","conclusion":"success","number":5,"started_at":"2022-03-02T14:20:09.000-07:00","completed_at":"2022-03-02T14:21:22.000-07:00"},{"name":"Post
        Checkout repository","status":"completed","conclusion":"success","number":10,"started_at":"2022-03-02T14:21:22.000-07:00","completed_at":"2022-03-02T14:21:22.000-07:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":11,"started_at":"2022-03-02T14:21:23.000-07:00","completed_at":"2022-03-02T14:21:23.000-07:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-runs/5398500665","labels":["ubuntu-latest"],"runner_id":194,"runner_name":"GitHub
        Actions 34","runner_group_id":2,"runner_group_name":"GitHub Actions"}]}'
  recorded_at: Wed, 02 Mar 2022 21:52:42 GMT
recorded_with: VCR 6.0.0
