---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25ef89b390411b96e0c2a4ac320a3b1f5671e289ed6c9c5b0ffe1f32ad607a55"
      Last-Modified:
      - Thu, 24 Feb 2022 18:14:12 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4887'
      X-Ratelimit-Reset:
      - '1645751738'
      X-Ratelimit-Used:
      - '113'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-api","description":"API
        powering VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/deployments","created_at":"2016-07-01T17:33:19Z","updated_at":"2022-02-24T18:14:12Z","pushed_at":"2022-02-25T00:47:16Z","git_url":"git://github.com/department-of-veterans-affairs/vets-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-api.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-api.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-api","homepage":"","size":347627,"stargazers_count":115,"watchers_count":115,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":49,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":53,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["civic-tech","gov","hacktoberfest","rails","ruby"],"visibility":"public","forks":49,"open_issues":53,"watchers":115,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"network_count":49,"subscribers_count":155}'
  recorded_at: Fri, 25 Feb 2022 00:55:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e625912888728ab026759863ee47bafb7027a5bce08a7225b30f1e9b4cbd64c4"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4886'
      X-Ratelimit-Reset:
      - '1645751738'
      X-Ratelimit-Used:
      - '114'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":15,"workflows":[{"id":13418388,"node_id":"W_kwDOA7hKyc4AzL-U","name":"Build
        & Push to ECR","path":".github/workflows/build.yml","state":"active","created_at":"2021-09-21T16:17:22.000-04:00","updated_at":"2021-09-28T16:23:54.000-04:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13418388","html_url":"https://github.com/department-of-veterans-affairs/vets-api/blob/master/.github/workflows/build.yml","badge_url":"https://github.com/department-of-veterans-affairs/vets-api/workflows/Build%20&%20Push%20to%20ECR/badge.svg"},{"id":7346344,"node_id":"MDg6V29ya2Zsb3c3MzQ2MzQ0","name":"Build
        and Test","path":".github/workflows/build_and_test.yml","state":"active","created_at":"2021-03-31T10:34:12.000-04:00","updated_at":"2021-04-09T13:26:21.000-04:00","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/7346344","html_url":"https://github.com/department-of-vetera[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbd98105ed5d471a49bf05a651963029facbc925ca7653d26f00202c9aea8ada"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/62409417/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/62409417/actions/runs?page=2492&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4885'
      X-Ratelimit-Reset:
      - '1645751738'
      X-Ratelimit-Used:
      - '115'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":49825,"workflow_runs":[{"id":1896165380,"name":"Check
        Stale PRs","node_id":"WFR_kwLOA7hKyc5xBTAE","head_branch":"master","head_sha":"76c5f7875fae4cb2a8a201390e61bc2f4366ef1f","run_number":3371,"event":"schedule","status":"completed","conclusion":"success","workflow_id":13944989,"check_suite_id":5439647386,"check_suite_node_id":"CS_kwDOA7hKyc8AAAABRDpumg","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380","html_url":"https://github.com/department-of-veterans-affairs/vets-api/actions/runs/1896165380","pull_requests":[{"url":"https://api.github.com/repos/oddballteam/vets-api/pulls/2","id":694470645,"number":2,"head":{"ref":"master","sha":"76c5f7875fae4cb2a8a201390e61bc2f4366ef1f","repo":{"id":62409417,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","name":"vets-api"}},"base":{"ref":"master","sha":"cc16d4d1afde22d94d591ab723f88f7feb129952","repo":{"id":253834373,"url":"https://api.github.com/repos/oddballteam/vets-api","name":"vets-api"}}}],"created_at":"2022-02-25T00:47:02Z","updated_at":"2022-02-25T00:47:19Z","run_attempt":1,"run_started_at":"2022-02-25T00:47:02Z","jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-suites/5439647386","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/workflows/13944989","head_commit":{"id":"76c5f7875fae4cb2a8a201390e61bc2f4366ef1f","tree_id":"66f2d732a4608fdb73fe608c276e65b9e1270a9b","message":"2440:
        refactor appointments requests adapter to use template pattern (#9210)\n\n*
        2440: refactor appointments requests adapter to use template pattern","timestamp":"2022-02-24T21:47:07Z","author":{"name":"Kris
        Pethtel","email":"kris.pethtel@gmail.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":62409417,"node_id":"MDEwOlJlcG9zaXRvcnk2MjQwOTQxNw==","name":"vets-api","full_name":"department-of-veterans-affairs/vets-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.[...]
[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/fu96GOJleFsryGAthC19eocndqQLJsouxGK8ssvNvGWTMO2pLp/_apis/pipelines/1/runs/52013/signedlogcontent?urlExpires=2022-02-25T00%3A56%3A53.3854394Z&urlSigningMethod=HMACV1&urlSignature=ZbZydF8FratCjHhTMGPiFB0b3XR3QpZeyF5Rm9DSN9U%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4883'
      X-Ratelimit-Reset:
      - '1645751738'
      X-Ratelimit-Used:
      - '117'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 Feb 2022 00:55:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ded1b3bfceee1c8a0a1524d13845c9d8dbbccd94a2111d97c1663a53594[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5b423c23c4d4fd72498643fea0e988589372e3e6db218dc6cba7acbc723fab4"
      X-Oauth-Scopes:
      - admin:repo_hook, read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4881'
      X-Ratelimit-Reset:
      - '1645751738'
      X-Ratelimit-Used:
      - '119'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"jobs":[{"id":5327383376,"run_id":1896165380,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/runs/1896165380","run_attempt":1,"node_id":"CR_kwDOA7hKyc8AAAABPYlrUA","head_sha":"76c5f7875fae4cb2a8a201390e61bc2f4366ef1f","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/actions/jobs/5327383376","html_url":"https://github.com/department-of-veterans-affairs/vets-api/runs/5327383376?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-02-25T00:47:11Z","completed_at":"2022-02-25T00:47:16Z","name":"stale","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-02-24T19:47:11.000-05:00","completed_at":"2022-02-24T19:47:12.000-05:00"},{"name":"Run
        actions/stale@v4","status":"completed","conclusion":"success","number":2,"started_at":"2022-02-24T19:47:12.000-05:00","completed_at":"2022-02-24T19:47:16.000-05:00"},{"name":"Complete
        job","status":"completed","conclusion":"success","number":3,"started_at":"2022-02-24T19:47:16.000-05:00","completed_at":"2022-02-24T19:47:16.000-05:00"}],"check_run_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/check-runs/5327383376","labels":["ubuntu-latest"],"runner_id":2,"runner_name":"GitHub
        Actions 2","runner_group_id":2,"runner_group_name":"GitHub Actions"}]}'
  recorded_at: Fri, 25 Feb 2022 00:55:54 GMT
recorded_with: VCR 6.0.0
