---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '88'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-10T05:10:57Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2234,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":13,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":13,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Thu, 10 Mar 2022 05:14:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5487333352
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04cd1c69fdbf4882a4e8e2b5ef855125d7288b3a6da0d7d37e666dc58fc276aa"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '89'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":5487333352,"run_id":1959838157,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABRxIP6A","head_sha":"7a1983b79f45a29117bbf216a9644420be0504cd","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5487333352","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5487333352?check_suite_focus=true","status":"completed","conclusion":"success","started_at":"2022-03-09T21:40:22Z","completed_at":"2022-03-09T21:41:28Z","name":"Test","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-03-09T14:40:21.000-07:00","completed_at":"2022-03-09T14:40:23.000-07:00"},{"name":"Initialize
        containers","status":"completed","conclusion":"success","number":2,"started_at":"2022-03-09T14:40:23.000-07:00","completed_at":"2022-03-09T14:40:48.000-07:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":3,"started_at":"2022-03-09T14:40:48.000-07:00","completed_at":"2022-03-09T14:40:49.000-07:00"},{"name":"Run
        ruby/s[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5487333352/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/2356/signedlogcontent/4?urlExpires=2022-03-10T05%3A15%3A44.2368079Z&urlSigningMethod=HMACV1&urlSignature=UPyCpqZX428aYznXinCKCkaYfODcm6DWtP4YPqncKHg%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '90'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2022 05:14:44 GMT
- request:
    method: get
    uri: https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/2356/signedlogcontent/4?urlExpires=2022-03-10T05:15:44.2368079Z&urlSignature=UPyCpqZX428aYznXinCKCkaYfODcm6DWtP4YPqncKHg=&urlSigningMethod=HMACV1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - dummy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Tfs-Processid:
      - 64888578-10cf-485c-a55d-c567067c3d79
      Activityid:
      - 8e514661-d4db-4424-a83b-f0d22d4f9e94
      X-Tfs-Session:
      - 8e514661-d4db-4424-a83b-f0d22d4f9e94
      X-Vss-E2eid:
      - 8e514661-d4db-4424-a83b-f0d22d4f9e94
      X-Vss-Senderdeploymentid:
      - ac98198d-4d34-0364-420d-bafa6e51dce2
    body:
      encoding: ASCII-8BIT
      string: "2022-03-09T21:40:13.0027130Z Requested labels: ubuntu-20.04\r\n2022-03-09T21:40:13.0027193Z
        Job defined at: department-of-veterans-affairs/platform-console-api/.github/workflows/code_checks.yml@refs/heads/rails-master-key-docker\r\n2022-03-09T21:40:13.0027217Z
        Waiting for a runner to pick up this job...\r\n2022-03-09T21:40:13.8475325Z
        Job is waiting for a hosted runner to come online.\r\n2022-03-09T21:40:18.5562324Z
        Job is about to start running on the hosted runner: GitHub Actions 5 (hosted)\r\n2022-03-09T21:40:21.9490541Z
        Current runner version: '2.288.1'\r\n2022-03-09T21:40:21.9524769Z ##[group]Operating
        System\r\n2022-03-09T21:40:21.9525422Z Ubuntu\r\n2022-03-09T21:40:21.9525866Z
        20.04.4\r\n2022-03-09T21:40:21.9526142Z LTS\r\n2022-03-09T21:40:21.9526493Z
        ##[endgroup]\r\n2022-03-09T21:40:21.9526847Z ##[group]Virtual Environment\r\n2022-03-09T21:40:21.9527307Z
        Environment: ubuntu-20.04\r\n2022-03-09T21:40:21.9527738Z Version: 20220227.1\r\n2022-03-09T21:40:21.9528307Z
        Included Software: https://github.com/actions/virtual-environments/blob/ubuntu20/20220227.1/images/linux/Ubuntu2004-Readme.md\r\n2022-03-09T21:40:21.9529095Z
        Image Release: https://github.com/actions/virtual-environments/releases/tag/ubuntu20%2F20220227.1\r\n2022-03-09T21:40:21.9529653Z
        ##[endgroup]\r\n2022-03-09T21:40:21.9530022Z ##[group]Virtual Environment
        Provisioner\r\n2022-03-09T21:40:21.9530495Z 1.0.0.0-main-20220301-2\r\n2022-03-09T21:40:21.9530872Z
        ##[endgroup]\r\n2022-03-09T21:40:21.9531618Z ##[group]GITHUB_TOKEN Permissions\r\n2022-03-09T21:40:21.9532233Z
        Checks: write\r\n2022-03-09T21:40:21.9532797Z Contents: read\r\n2022-03-09T21:40:21.9533199Z
        Metadata: read\r\n2022-03-09T21:40:21.9533571Z ##[endgroup]\r\n2022-03-09T21:40:21.9537579Z
        Secret source: Actions\r\n2022-03-09T21:40:21.9538287Z Prepare workflow directory\r\n2022-03-09T21:40:22.1144195Z
        Prepare all required actions\r\n2022-03-09T21:40:22.1362988Z Getting action
        download info\r\n2022-03-09T21:40:22.3377403Z Download action repository 'actions/checkout@v2'
        (SHA:ec3a7ce113134d7a93b817d10a8272cb61118579)\r\n2022-03-09T21:40:22.6463700Z
        Download acti[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pipelines.actions.githubusercontent.com/xiDCcms9SWXdnQKx8bQBgEiHzMPdxtNJ8T16A3IVVsALVo6iCR/_apis/pipelines/1/runs/2484/signedlogcontent?urlExpires=2022-03-10T05%3A15%3A45.1009592Z&urlSigningMethod=HMACV1&urlSignature=%2FYZc%2FAhqho0PD29qfV1dd6UZq%2F%2F%2B%2BcYbSJ32ZYhRxPg%3D
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4909'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '91'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2022 05:14:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6eb7efa4fa08179ea25001e4b0293542f74a4fc6b6d863b6994f5d95b950a79c"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4908'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '92'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":1959838157,"name":"Code Checks","node_id":"WFR_kwLOGrBsB8500MHN","head_branch":"rails-master-key-docker","head_sha":"7a1983b79f45a29117bbf216a9644420be0504cd","run_number":1018,"event":"push","status":"completed","conclusion":"success","workflow_id":17919887,"check_suite_id":5600065059,"check_suite_node_id":"CS_kwDOGrBsB88AAAABTco2Iw","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157","pull_requests":[],"created_at":"2022-03-09T21:40:11Z","updated_at":"2022-03-10T04:12:49Z","actor":{"login":"rileyanderson","id":10853209,"node_id":"MDQ6VXNlcjEwODUzMjA5","avatar_url":"https://avatars.githubusercontent.com/u/10853209?v=4","gravatar_id":"","url":"https://api.github.com/users/rileyanderson","html_url":"https://github.com/rileyanderson","followers_url":"https://api.github.com/users/rileyanderson/followers","following_url":"https://api.github.com/users/rileyanderson/following{/other_user}","gists_url":"https://api.github.com/users/rileyanderson/gists{/gist_id}","starred_url":"https://api.github.com/users/rileyanderson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rileyanderson/subscriptions","organizations_url":"https://api.github.com/users/rileyanderson/orgs","repos_url":"https://api.github.com/users/rileyanderson/repos","events_url":"https://api.github.com/users/rileyanderson/events{/privacy}","received_events_url":"https://api.github.com/users/rileyanderson/received_events","type":"User","site_admin":false},"run_attempt":8,"run_started_at":"2022-03-10T04:10:20Z","triggering_actor":{"login":"va-vsp-bot","id":70344339,"node_id":"MDQ6VXNlcjcwMzQ0MzM5","avatar_url":"https://avatars.githubusercontent.com/u/70344339?v=4","gravatar_id":"","url":"https://api.github.com/users/va-vsp-bot","html_url":"https://github.com/va-vsp-bot","followers_url":"https://api.github.com/users/va-vsp-bot/followers","following_url":"https://api.github.com/users/va-vsp-bot/following{/other_user}","gists_url":"https://api.github.com/users/va-vsp-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/va-vsp-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/va-vsp-bot/subscriptions","organizations_url":"https://api.github.com/users/va-vsp-bot/orgs","repos_url":"https://api.github.com/users/va-vsp-bot/repos","events_url":"https://api.github.com/users/va-vsp-bot/events{/privacy}","received_events_url":"https://api.github.com/users/va-vsp-bot/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5600065059","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/rerun","previous_attempt_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/attempts/7","workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","head_commit":{"id":"7a1983b79f45a29117bbf216a9644420be0504cd","tree_id":"192ec02529a093fb8767325e9385080671b6e9b7","message":"test","timestamp":"2022-03-09T21:40:05Z","author":{"name":"Riley
        Anderson","email":"5150r.d.anderson@gmail.com"},"committer":{"name":"Riley
        Anderson","email":"5150r.d.anderson@gmail.com"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"810b3117742ad73f5fec30463c7885dbdf5a4681c59391b4b3edb0cc6934857c"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4907'
      X-Ratelimit-Reset:
      - '1646890538'
      X-Ratelimit-Used:
      - '93'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":6,"jobs":[{"id":5490665227,"run_id":1959838157,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1959838157","run_attempt":8,"node_id":"CR_kwDOGrBsB88AAAABR0TnCw","head_sha":"7a1983b79f45a29117bbf216a9644420be0504cd","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5490665227","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5490665227?check_suite_focus=true","[...]
