---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9485e987ecf3d4934d7abd0d6a0d24a21db122d640ff780e816a5bd737f8501c"
      Last-Modified:
      - Wed, 09 Feb 2022 17:46:38 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4777'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '223'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/platform-console-api","description":null,"fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/deployments","created_at":"2022-01-13T22:21:19Z","updated_at":"2022-02-09T17:46:38Z","pushed_at":"2022-03-16T15:18:56Z","git_url":"git://github.com/department-of-veterans-affairs/platform-console-api.git","ssh_url":"git@github.com:department-of-veterans-affairs/platform-console-api.git","clone_url":"https://github.com/department-of-veterans-affairs/platform-console-api.git","svn_url":"https://github.com/department-of-veterans-affairs/platform-console-api","homepage":null,"size":2427,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":17,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":17,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"organization":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":7}'
  recorded_at: Wed, 16 Mar 2022 15:21:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76ef13dfe556d68586f70898927646ac5c305461eca1b3609222629c07d55de0"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4776'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '224'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":8,"workflows":[{"id":17919887,"node_id":"W_kwDOGrBsB84BEW-P","name":"Code
        Checks","path":".github/workflows/code_checks.yml","state":"active","created_at":"2022-01-13T16:45:24.000-07:00","updated_at":"2022-01-14T07:42:12.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/code_checks.yml","badge_url":"https://github.com/department-of-veterans-affairs/platform-console-api/workflows/Code%20Checks/badge.svg"},{"id":17929736,"node_id":"W_kwDOGrBsB84BEZYI","name":"CodeQL","path":".github/workflows/codeql.yml","state":"active","created_at":"2022-01-13T22:05:58.000-07:00","updated_at":"2022-02-24T00:23:42.000-07:00","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736","html_url":"https://github.com/department-of-veterans-affairs/platfor[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736/dispatches
    body:
      encoding: UTF-8
      string: '{"ref":"master"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4773'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '227'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2022 15:21:43 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"761615ccee4fac684c95ab97723aa799b1014e6ee92f[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/.github/workflows/codeql.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39b342fb5507e45ba83beb6c34b443530fd1d312"
      Last-Modified:
      - Tue, 15 Mar 2022 14:56:04 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4770'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '230'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"codeql.yml","path":".github/workflows/codeql.yml","sha":"39b342fb5507e45ba83beb6c34b443530fd1d312","size":1487,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/contents/.github/workflows/codeql.yml?ref=master","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/blob/master/.github/workflows/codeql.yml","git_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/git/blobs/39b342fb5507e45ba83beb6c34b443530fd1d312","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/platform-console-api/master/.github/workflows/codeql.yml","type":"file","content":"bmFtZTogIkNvZGVRTCIKCm9uOgogIHB1c2g6CiAgICBicmFuY2hlczogWyBt\nYXN0ZXIgXQogIHB1bGxfcmVxdWVzdDoKICAgICMgVGhlIGJyYW5jaGVzIGJl\nbG93IG11c3QgYmUgYSBzdWJzZXQgb2YgdGhlIGJyYW5jaGVzIGFib3ZlCiAg\nICBicmFuY2hlczogWyBtYXN0ZXIgXQogIHNjaGVkdWxlOgogICAgLSBjcm9u\nOiAnMjcgMiAqICogMScKICB3b3JrZmxvd19kaXNwYXRjaDoKCmpvYnM6CiAg\nYW5hbHl6ZToKICAgIG5hbWU6IEFuYWx5emUKICAgIHJ1bnMtb246IHVidW50\ndS1sYXRlc3QKCiAgICBzdGVwczoKICAgIC0gbmFtZTogQ2hlY2tvdXQgcmVw\nb3NpdG9yeQogICAgICB1c2VzOiBhY3Rpb25zL2NoZWNrb3V0QHYyCgogICAg\nIyB[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f57105625f2b91860b5dd2ef38823d17980f2f96b58c4da9f299a05dafbf7f6"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/447769607/actions/runs?page=2&per_page=20>;
        rel="next", <https://api.github.com/repositories/447769607/actions/runs?page=145&per_page=20>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4768'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '232'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2900,"workflow_runs":[{"id":1993598049,"name":"Code
        Checks","node_id":"WFR_kwLOGrBsB8520-Rh","head_branch":"lhattamer-argo-enhancements","head_sha":"cd7bf59d740bb354cf3db331d7f860cee7a9766a","run_number":1128,"event":"push","status":"in_progress","conclusion":null,"workflow_id":17919887,"check_suite_id":5684368465,"check_suite_node_id":"CS_kwDOGrBsB88AAAABUtCUUQ","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049","pull_requests":[{"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/pulls/175","id":879438977,"number":175,"head":{"ref":"lhattamer-argo-enhancements","sha":"cd7bf59d740bb354cf3db331d7f860cee7a9766a","repo":{"id":447769607,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","name":"platform-console-api"}},"base":{"ref":"master","sha":"a4b859cf25ac45e7a2ba12921f15796aca1a535c","repo":{"id":447769607,"url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api","name":"platform-console-api"}}}],"created_at":"2022-03-16T15:18:59Z","updated_at":"2022-03-16T15:21:05Z","actor":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2022-03-16T15:18:59Z","triggering_actor":{"login":"LindseySaari","id":5834818,"node_id":"MDQ6VXNlcjU4MzQ4MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5834818?v=4","gravatar_id":"","url":"https://api.github.com/users/LindseySaari","html_url":"https://github.com/LindseySaari","followers_url":"https://api.github.com/users/LindseySaari/followers","following_url":"https://api.github.com/users/LindseySaari/following{/other_user}","gists_url":"https://api.github.com/users/LindseySaari/gists{/gist_id}","starred_url":"https://api.github.com/users/LindseySaari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LindseySaari/subscriptions","organizations_url":"https://api.github.com/users/LindseySaari/orgs","repos_url":"https://api.github.com/users/LindseySaari/repos","events_url":"https://api.github.com/users/LindseySaari/events{/privacy}","received_events_url":"https://api.github.com/users/LindseySaari/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/jobs","logs_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/logs","check_suite_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/check-suites/5684368465","artifacts_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/artifacts","cancel_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/cancel","rerun_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17919887","head_commit":{"id":"cd7bf59d740bb354cf3db331d7f860cee7a9766a","tree_id":"bac51a9a76bc5430764df1c973457ae6cf52f862","message":"Merge
        branch ''master'' into lhattamer-argo-enhancements","timestamp":"2022-03-16T15:18:50Z","author":{"name":"Lindsey
        Hattamer","email":"lindsey.hattamer@oddball.io"},"committer":{"name":"Lindsey
        Hattamer","email":"lindsey.hattamer@oddball.io"}},"repository":{"id":447769607,"node_id":"R_kgDOGrBsBw","name":"platform-console-api","full_name":"department-of-veterans-affairs/platform-console-api","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https:/[...]
- request:
    method: head
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4767'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '233'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2022 15:21:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1671c89885191e9aa721f18061c2b4484c70117a984b04[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049/jobs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a95fe7b2e6e8d5435c3de510d2b1b2808ed494ce23ffba706365064abcc982b"
      X-Oauth-Scopes:
      - read:org, read:user, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4763'
      X-Ratelimit-Reset:
      - '1647445167'
      X-Ratelimit-Used:
      - '237'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":6,"jobs":[{"id":5572375392,"run_id":1993598049,"run_url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/runs/1993598049","run_attempt":1,"node_id":"CR_kwDOGrBsB88AAAABTCOzYA","head_sha":"cd7bf59d740bb354cf3db331d7f860cee7a9766a","url":"https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/jobs/5572375392","html_url":"https://github.com/department-of-veterans-affairs/platform-console-api/runs/5572375392?check_suite_focus=true","status":"completed","conclusion":"failure","started_at":"2022-03-16T15:19:14Z","completed_at":"2022-03-16T15:20:47Z","name":"Test","steps":[{"name":"Set
        up job","status":"completed","conclusion":"success","number":1,"started_at":"2022-03-16T09:19:14.000-06:00","completed_at":"2022-03-16T09:19:16.000-06:00"},{"name":"Initialize
        containers","status":"completed","conclusion":"success","number":2,"started_at":"2022-03-16T09:19:16.000-06:00","completed_at":"2022-03-16T09:19:47.000-06:00"},{"name":"Run
        actions/checkout@v2","status":"completed","conclusion":"success","number":3,"started_at":"2022-03-16T09:19:47.000[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/platform-console-api/actions/workflows/17929736/runs?branch&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6918e017144ae[...]
